{%- liquid
  assign color_scheme = block.settings.target_section_color_scheme
  assign style = block.settings.style | split: '_' | first
  assign dimensions = block.settings.style | split: '_' | last | split: 'x'
  assign width = dimensions[0] | plus: 0.0
  assign height = dimensions[1] | plus: 0.0
  if block.settings.flip_horizontal
    assign scaleX = "scaleX(-1)"
    assign duplicated_transform = "translateX(-100%)"
  else
    assign scaleX = "scaleX(1)"
    assign duplicated_transform = "translateX(100%)"
  endif
  if block.settings.target_section == 'above'
    assign scaleY = "scaleY(-1)"
    assign margin_class = "-mt-shape-divider"
    assign section_class = 'absolute top-0 left-0 w-full'
    assign padding_position = 'padding-top'
  else
    assign scaleY = "scaleY(1)"
    assign margin_class = "-mb-shape-divider"
    assign section_class = 'absolute bottom-0 left-0 w-full'
    assign padding_position = 'padding-bottom'
    
  endif
  assign count = 1
  if block.settings.enable_animation
    unless block.settings.style contains 'asymmetrical'
      assign count = 2
    endunless 
  endif
-%}

<div {% if block.settings.enable_animation %}x-data="ThemeComponent_ShapeDivider" x-init="mounted()"{% endif %} id="shape-divider-{{ block.id }}" class="shape-divider w-full   pointer-events-none z-20 {{ section_class }}" {{ block.shopify_attributes }}>
  <div class="shape-divider-transform-reset">
    <div x-ref="animation-container" class="shape-divider-svg-container flex relative left-0 min-w-full {% if block.settings.enable_animation %}{% if block.settings.style contains 'asymmetrical' %}animate-asymmetrical{% else %}animate{% endif %} {{ block.settings.animation_direction }}{% endif %} {{ margin_class }}"  style="padding-top: {{ height | divided_by: width | times: 100.0 }}%;">
    {%- for i in (1..count) -%}
      <div class="{% if i == 2 %} translate-x-[99.95%] {% endif %} z-0 absolute top-0 left-0 right-0 bottom-0 text-scheme-background h-full w-full text-scheme-background">
        <svg class="z-0 absolute top-0 left-0  right-0 bottom-0 text-scheme-background h-full w-full text-scheme-background  {% if i == 2 %} -scale-x-[1] {% endif %}" data-color-scheme="{{ color_scheme }}" width="100%" height="100%" viewBox="0 0 {{ width }} {{ height }}" fill="none" xmlns="http://www.w3.org/2000/svg">
          {%- case style -%}
          {%- when 'large-waves' -%}
          <path d="M600 39.1293C800 84.6351 1000 84.6351 1200 39.1294V84.0001H0L3.48561e-06 39.1293C200 -6.37645 400 -6.37643 600 39.1293Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1201 39.1294C1001 84.6351 801 84.6351 601 39.1293C401 -6.37643 201 -6.37645 1 39.1293" stroke="black"/>
          {%- when 'medium-waves' -%}
          <path d="M1200 20.0001C1150 40.0001 1100 40.0001 1050 20.0001C1000 8.10623e-05 950 7.72476e-05 900 20.0001C850 40.0001 800 40.0001 750 20.0001C700 5.43594e-05 650 5.05447e-05 600 20C550 40 500 40 450 20C400 2.76566e-05 350 2.38419e-05 300 20C250 40 200 40 150 20C100 2.86102e-06 50 -2.86102e-06 2.18557e-05 20L0 43.0001H1200V20.0001Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1201 20.0001C1151 40.0001 1101 40.0001 1051 20.0001C1001 8.10623e-05 951 7.72476e-05 901 20.0001C851 40.0001 801 40.0001 751 20.0001C701 5.43594e-05 651 5.05447e-05 601 20C551 40 501 40 451 20C401 2.76566e-05 351 2.38419e-05 301 20C251 40 201 40 151 20C101 2.86102e-06 51 -2.86102e-06 1 20" stroke="black"/>
          {%- when 'small-waves' -%}
          <path d="M0 8.46126C8 3.84592 16 3.84592 24 8.46126C32 13.0766 40 13.0766 48 8.46127C56 3.84593 64 3.84593 72 8.46127C80 13.0766 88 13.0766 96 8.46128C104 3.84594 112 3.84594 120 8.46128C128 13.0766 136 13.0766 144 8.46128C152 3.84594 160 3.84595 168 8.46129C176 13.0766 184 13.0766 192 8.46129C200 3.84595 208 3.84596 216 8.4613C224 13.0766 232 13.0766 240 8.4613C248 3.84596 256 3.84596 264 8.46131C272 13.0766 280 13.0766 288 8.46131C296 3.84597 304 3.84597 312 8.46131C320 13.0767 328 13.0767 336 8.46132C344 3.84598 352 3.84598 360 8.46132C368 13.0767 376 13.0767 384 8.46132C392 3.84599 400 3.84599 408 8.46133C416 13.0767 424 13.0767 432 8.46133C440 3.846 448 3.846 456 8.46134C464 13.0767 472 13.0767 480 8.46134C488 3.846 496 3.846 504 8.46135C512 13.0767 520 13.0767 528 8.46135C536 3.84601 544 3.84601 552 8.46135C560 13.0767 568 13.0767 576 8.46136C584 3.84602 592 3.84602 600 8.46136C608 13.0767 616 13.0767 624 8.46137C632 3.84603 640 3.84603 648 8.46137C656 13.0767 664 13.0767 672 8.46138C680 3.84604 688 3.84604 696 8.46138C704 13.0767 712 13.0767 720 8.46138C728 3.84604 736 3.84604 744 8.46139C752 13.0767 760 13.0767 768 8.46139C776 3.84605 784 3.84605 792 8.4614C800 13.0767 808 13.0767 816 8.4614C824 3.84606 832 3.84606 840 8.4614C848 13.0767 856 13.0767 864 8.46141C872 3.84607 880 3.84607 888 8.46141C896 13.0768 904 13.0768 912 8.46142C920 3.84608 928 3.84608 936 8.46142C944 13.0768 952 13.0768 960 8.46142C968 3.84608 976 3.84609 984 8.46143C992 13.0768 1000 13.0768 1008 8.46143C1016 3.84609 1024 3.8461 1032 8.46144C1040 13.0768 1048 13.0768 1056 8.46144C1064 3.8461 1072 3.8461 1080 8.46145C1088 13.0768 1096 13.0768 1104 8.46145C1112 3.84611 1120 3.84611 1128 8.46145C1136 13.0768 1144 13.0768 1152 8.46146C1160 3.84612 1168 3.84612 1176 8.46146C1184 13.0768 1192 13.0768 1200 8.46147V19.9999H0V8.46126Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 8.46126C9 3.84592 17 3.84592 25 8.46126C33 13.0766 41 13.0766 49 8.46127C57 3.84593 65 3.84593 73 8.46127C81 13.0766 89 13.0766 97 8.46128C105 3.84594 113 3.84594 121 8.46128C129 13.0766 137 13.0766 145 8.46128C153 3.84594 161 3.84595 169 8.46129C177 13.0766 185 13.0766 193 8.46129C201 3.84595 209 3.84596 217 8.4613C225 13.0766 233 13.0766 241 8.4613C249 3.84596 257 3.84596 265 8.46131C273 13.0766 281 13.0766 289 8.46131C297 3.84597 305 3.84597 313 8.46131C321 13.0767 329 13.0767 337 8.46132C345 3.84598 353 3.84598 361 8.46132C369 13.0767 377 13.0767 385 8.46132C393 3.84599 401 3.84599 409 8.46133C417 13.0767 425 13.0767 433 8.46133C441 3.846 449 3.846 457 8.46134C465 13.0767 473 13.0767 481 8.46134C489 3.846 497 3.846 505 8.46135C513 13.0767 521 13.0767 529 8.46135C537 3.84601 545 3.84601 553 8.46135C561 13.0767 569 13.0767 577 8.46136C585 3.84602 593 3.84602 601 8.46136C609 13.0767 617 13.0767 625 8.46137C633 3.84603 641 3.84603 649 8.46137C657 13.0767 665 13.0767 673 8.46138C681 3.84604 689 3.84604 697 8.46138C705 13.0767 713 13.0767 721 8.46138C729 3.84604 737 3.84604 745 8.46139C753 13.0767 761 13.0767 769 8.46139C777 3.84605 785 3.84605 793 8.4614C801 13.0767 809 13.0767 817 8.4614C825 3.84606 833 3.84606 841 8.4614C849 13.0767 857 13.0767 865 8.46141C873 3.84607 881 3.84607 889 8.46141C897 13.0768 905 13.0768 913 8.46142C921 3.84608 929 3.84608 937 8.46142C945 13.0768 953 13.0768 961 8.46142C969 3.84608 977 3.84609 985 8.46143C993 13.0768 1001 13.0768 1009 8.46143C1017 3.84609 1025 3.8461 1033 8.46144C1041 13.0768 1049 13.0768 1057 8.46144C1065 3.8461 1073 3.8461 1081 8.46145C1089 13.0768 1097 13.0768 1105 8.46145C1113 3.84611 1121 3.84611 1129 8.46145C1137 13.0768 1145 13.0768 1153 8.46146C1161 3.84612 1169 3.84612 1177 8.46146C1185 13.0768 1193 13.0768 1201 8.46147" stroke="black"/>
          {%- when 'large-zig-zag' -%}
          <path d="M1200 6.26326L1199.74 6.0001L1156.96 48.711L1114.19 6.00009L1071.42 48.711L1028.64 6.00008L985.348 48.711L942.574 6.00007L899.801 48.711L857.027 6.00007L814.254 48.711L771.481 6.00006L728.707 48.711L685.412 6.00005L642.639 48.711L599.865 6.00004L557.092 48.711L514.319 6.00004L471.545 48.711L428.25 6.00003L385.477 48.711L342.703 6.00002L299.93 48.711L257.156 6.00002L213.861 48.7109L171.088 6.00001L128.314 48.7109L85.541 6L42.7676 48.7109L4.68693e-06 6.00585L0 65H1200V6.26326Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1201 6.26326L1200.74 6.0001L1157.96 48.711L1115.19 6.00009L1072.42 48.711L1029.64 6.00008L986.348 48.711L943.574 6.00007L900.801 48.711L858.027 6.00007L815.254 48.711L772.481 6.00006L729.707 48.711L686.412 6.00005L643.639 48.711L600.865 6.00004L558.092 48.711L515.319 6.00004L472.545 48.711L429.25 6.00003L386.477 48.711L343.703 6.00002L300.93 48.711L258.156 6.00002L214.861 48.7109L172.088 6.00001L129.314 48.7109L86.541 6L43.7676 48.7109L1 6.00585" stroke="black"/>
          {%- when 'medium-zig-zag' -%}
          <path d="M1200 37H0V5.00307L21.3838 26.5077L42.7705 5.0001L64.1572 26.5077L85.5439 5.0001L106.931 26.5077L128.578 5.00009L149.965 26.5077L171.352 5.00009L192.738 26.5077L214.125 5.00009L235.773 26.5077L257.159 5.00008L278.546 26.5076L299.933 5.00008L321.319 26.5076L342.706 5.00007L364.354 26.5076L385.74 5.00007L407.127 26.5076L428.514 5.00007L449.9 26.5076L471.287 5.00006L492.674 26.5076L514.321 5.00006L535.708 26.5076L557.095 5.00006L578.482 26.5076L599.868 5.00005L621.255 26.5076L642.902 5.00005L664.289 26.5076L685.676 5.00004L707.062 26.5076L728.449 5.00004L750.097 26.5076L771.483 5.00004L792.87 26.5076L814.257 5.00003L835.643 26.5076L857.03 5.00003L878.678 26.5076L900.065 5.00003L921.451 26.5076L942.838 5.00002L964.225 26.5076L985.611 5.00002L1007 26.5076L1028.65 5.00001L1050.03 26.5076L1071.42 5.00001L1092.81 26.5076L1114.19 5.00001L1135.58 26.5076L1157.23 5L1178.61 26.5076L1200 5V37Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 5.00307L22.3838 26.5077L43.7705 5.0001L65.1572 26.5077L86.5439 5.0001L107.931 26.5077L129.578 5.00009L150.965 26.5077L172.352 5.00009L193.738 26.5077L215.125 5.00009L236.773 26.5077L258.159 5.00008L279.546 26.5076L300.933 5.00008L322.319 26.5076L343.706 5.00007L365.354 26.5076L386.74 5.00007L408.127 26.5076L429.514 5.00007L450.9 26.5076L472.287 5.00006L493.674 26.5076L515.321 5.00006L536.708 26.5076L558.095 5.00006L579.482 26.5076L600.868 5.00005L622.255 26.5076L643.902 5.00005L665.289 26.5076L686.676 5.00004L708.062 26.5076L729.449 5.00004L751.097 26.5076L772.483 5.00004L793.87 26.5076L815.257 5.00003L836.643 26.5076L858.03 5.00003L879.678 26.5076L901.065 5.00003L922.451 26.5076L943.838 5.00002L965.225 26.5076L986.611 5.00002L1008 26.5076L1029.65 5.00001L1051.03 26.5076L1072.42 5.00001L1093.81 26.5076L1115.19 5.00001L1136.58 26.5076L1158.23 5L1179.61 26.5076L1201 5" stroke="black"/>
          {%- when 'small-zig-zag' -%}
          <path d="M2 5L0 6.94064L2.61749e-06 21.0001H1200V6.57151L1193.4 13.0537L1185.2 5.0001L1176.9 13.0537L1168.7 5.0001L1160.5 13.0537L1152.3 5.0001L1144.1 13.0537L1135.9 5.0001L1127.6 13.0537L1119.4 5.0001L1111.2 13.0537L1103 5.0001L1094.8 13.0537L1086.6 5.00009L1078.4 13.0537L1070.1 5.00009L1061.9 13.0537L1053.7 5.00009L1045.5 13.0537L1037.3 5.00009L1029.1 13.0537L1020.8 5.00009L1012.6 13.0537L1004.4 5.00009L996.2 13.0537L988 5.00009L979.7 13.0537L971.5 5.00008L963.3 13.0537L955.1 5.00008L946.9 13.0537L938.7 5.00008L930.4 13.0537L922.2 5.00008L914 13.0537L905.8 5.00008L897.6 13.0537L889.4 5.00008L881.2 13.0537L872.9 5.00008L864.7 13.0537L856.5 5.00007L848.3 13.0537L840.1 5.00007L831.9 13.0537L823.6 5.00007L815.4 13.0537L807.2 5.00007L799 13.0536L790.8 5.00007L782.5 13.0536L774.3 5.00007L766.1 13.0536L757.9 5.00007L749.7 13.0536L741.5 5.00006L733.2 13.0536L725 5.00006L716.8 13.0536L708.6 5.00006L700.4 13.0536L692.2 5.00006L684 13.0536L675.7 5.00006L667.5 13.0536L659.3 5.00006L651.1 13.0536L642.9 5.00006L634.7 13.0536L626.4 5.00005L618.2 13.0536L610 5.00005L601.8 13.0536L593.6 5.00005L585.3 13.0536L577.1 5.00005L568.9 13.0536L560.7 5.00005L552.5 13.0536L544.3 5.00005L536 13.0536L527.8 5.00005L519.6 13.0536L511.4 5.00004L503.2 13.0536L495 5.00004L486.8 13.0536L478.5 5.00004L470.3 13.0536L462.1 5.00004L453.9 13.0536L445.7 5.00004L437.5 13.0536L429.2 5.00004L421 13.0536L412.8 5.00004L404.6 13.0536L396.4 5.00003L388.1 13.0536L379.9 5.00003L371.7 13.0536L363.5 5.00003L355.3 13.0536L347.1 5.00003L338.8 13.0536L330.6 5.00003L322.4 13.0536L314.2 5.00003L306 13.0536L297.8 5.00003L289.6 13.0536L281.3 5.00002L273.1 13.0536L264.9 5.00002L256.7 13.0536L248.5 5.00002L240.3 13.0536L232 5.00002L223.8 13.0536L215.6 5.00002L207.4 13.0536L199.2 5.00002L190.9 13.0536L182.7 5.00002L174.5 13.0536L166.3 5.00001L158.1 13.0536L149.9 5.00001L141.6 13.0536L133.4 5.00001L125.2 13.0536L117 5.00001L108.8 13.0536L100.6 5.00001L92.4 13.0536L84.1 5.00001L75.9 13.0536L67.7001 5.00001L59.5 13.0536L51.3 5L43.1 13.0536L34.8 5L26.6 13.0536L18.4 5L10.2001 13.0536L2 5Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 6.94064L3 5L11.2001 13.0536L19.4 5L27.6 13.0536L35.8 5L44.1 13.0536L52.3 5L60.5 13.0536L68.7001 5.00001L76.9 13.0536L85.1 5.00001L93.4 13.0536L101.6 5.00001L109.8 13.0536L118 5.00001L126.2 13.0536L134.4 5.00001L142.6 13.0536L150.9 5.00001L159.1 13.0536L167.3 5.00001L175.5 13.0536L183.7 5.00002L191.9 13.0536L200.2 5.00002L208.4 13.0536L216.6 5.00002L224.8 13.0536L233 5.00002L241.3 13.0536L249.5 5.00002L257.7 13.0536L265.9 5.00002L274.1 13.0536L282.3 5.00002L290.6 13.0536L298.8 5.00003L307 13.0536L315.2 5.00003L323.4 13.0536L331.6 5.00003L339.8 13.0536L348.1 5.00003L356.3 13.0536L364.5 5.00003L372.7 13.0536L380.9 5.00003L389.1 13.0536L397.4 5.00003L405.6 13.0536L413.8 5.00004L422 13.0536L430.2 5.00004L438.5 13.0536L446.7 5.00004L454.9 13.0536L463.1 5.00004L471.3 13.0536L479.5 5.00004L487.8 13.0536L496 5.00004L504.2 13.0536L512.4 5.00004L520.6 13.0536L528.8 5.00005L537 13.0536L545.3 5.00005L553.5 13.0536L561.7 5.00005L569.9 13.0536L578.1 5.00005L586.3 13.0536L594.6 5.00005L602.8 13.0536L611 5.00005L619.2 13.0536L627.4 5.00005L635.7 13.0536L643.9 5.00006L652.1 13.0536L660.3 5.00006L668.5 13.0536L676.7 5.00006L685 13.0536L693.2 5.00006L701.4 13.0536L709.6 5.00006L717.8 13.0536L726 5.00006L734.2 13.0536L742.5 5.00006L750.7 13.0536L758.9 5.00007L767.1 13.0536L775.3 5.00007L783.5 13.0536L791.8 5.00007L800 13.0536L808.2 5.00007L816.4 13.0537L824.6 5.00007L832.9 13.0537L841.1 5.00007L849.3 13.0537L857.5 5.00007L865.7 13.0537L873.9 5.00008L882.2 13.0537L890.4 5.00008L898.6 13.0537L906.8 5.00008L915 13.0537L923.2 5.00008L931.4 13.0537L939.7 5.00008L947.9 13.0537L956.1 5.00008L964.3 13.0537L972.5 5.00008L980.7 13.0537L989 5.00009L997.2 13.0537L1005.4 5.00009L1013.6 13.0537L1021.8 5.00009L1030.1 13.0537L1038.3 5.00009L1046.5 13.0537L1054.7 5.00009L1062.9 13.0537L1071.1 5.00009L1079.4 13.0537L1087.6 5.00009L1095.8 13.0537L1104 5.0001L1112.2 13.0537L1120.4 5.0001L1128.6 13.0537L1136.9 5.0001L1145.1 13.0537L1153.3 5.0001L1161.5 13.0537L1169.7 5.0001L1177.9 13.0537L1186.2 5.0001L1194.4 13.0537L1201 6.57151" stroke="black"/>
          {%- when 'waves-1-asymmetrical' -%}
          <path d="M0 5L60 47.7C120 90 240 176 360 213C480 250 600 240 720 202.3C840 165 960 101 1080 95.7C1200 90 1320 144 1380 170.3L1440 197V261H1380C1320 261 1200 261 1080 261C960 261 840 261 720 261C600 261 480 261 360 261C240 261 120 261 60 261H0V5Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 5L61 47.7C121 90 241 176 361 213C481 250 601 240 721 202.3C841 165 961 101 1081 95.7C1201 90 1321 144 1381 170.3L1441 197" stroke="black"/>
          {%- when 'waves-2-asymmetrical' -%}
          <path d="M0 330H1440V325L1320 319.7C1316.38 319.528 1312.65 319.352 1308.82 319.172C1185.52 313.357 952.761 302.38 720 250.3C480 197 240 101 120 53L2.79753e-05 5L0 330Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 5L121 53C241 101 481 197 721 250.3C953.761 302.38 1186.52 313.357 1309.82 319.172C1313.65 319.352 1317.38 319.528 1321 319.7L1441 325" stroke="black"/>
          {%- when 'tilt-1-asymmetrical' -%}
          <path d="M1440 69L0 5V101H1440V69Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1441 69L1 5" stroke="black"/>
          {%- when 'tilt-2-asymmetrical' -%}
          <path d="M0 261L1440 5V293H0V261Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 261L1441 5" stroke="black"/>
          {%- when 'mountains-1-asymmetrical' -%}
          <path d="M0 165L480 5L960 261L1440 197V293H960H480H0V165Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 165L481 5L961 261L1441 197" stroke="black"/>
          {%- when 'mountains-2-asymmetrical' -%}
          <path d="M0 37L180 165L360 69L540 133L720 69L900 5L1080 229L1260 101L1440 197V325H1260H1080H900H720H540H360H180H0V37Z" fill="currentColor"/>
          <path class="shape-divider-stroke" vector-effect="non-scaling-stroke" d="M1 37L181 165L361 69L541 133L721 69L901 5L1081 229L1261 101L1441 197" stroke="black"/>
          {%- endcase -%}    
          </svg>
      </div>
    {%- endfor -%}
    </div>
  </div>
</div>

<style>
#shape-divider-{{ block.id }} svg {
  transform: translate3d(0, 0, 0) {{ scaleX }} {{ scaleY }};
}

#shape-divider-{{ block.id }} svg:nth-child(2) {
  transform: translate3d(0, 0, 0) {{ scaleX }} {{ scaleY }} {{ duplicated_transform }};
}

{%- unless no_padding -%}
#shopify-section-{{ section.id }} > section {
  {{ padding_position }}: {{ height | divided_by: width | times: 100.0 }}%;
}
{%- endunless -%}

{%- if block.settings.enable_animation and block.settings.style contains 'asymmetrical' -%}
#shape-divider-{{ block.id }} {
  width: calc(100vw + 200px);
}
{%- endif -%}
</style>

{% if block.settings.enable_animation %}
{% unless request.design_mode %}
  <script src="{{ 'block-shape-divider.js' | asset_url }}" type="module"></script>
{% endunless %}
{% endif %}
{{ 'block-shape-divider.css' | asset_url | stylesheet_tag }}