{% liquid
  assign section_color = section.settings.color_scheme
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = current_variant.featured_media | default: product.featured_media
  assign models = product.media | where: 'media_type', 'model'
  assign image_index = 0
  for media in product.media
    if media.media_type != 'image'
      assign has_interactive_media = true
      break
    endif
  endfor

  assign product_form_id = 'product-form-' | append: section.id
  assign media_desktop_width = section.settings.desktop_media_width | split: '_' | first
  assign content_desktop_width = section.settings.desktop_media_width | split: '_' | last
  assign media_desktop_cols = section.settings.desktop_media_width | split: '_' | first | split: '' | last | plus: 0
  if section.settings.crop != ''
    assign ratio_1 = section.settings.crop | split: ' ' | first | split: '' | last | plus: 0.0
    assign ratio_2 = section.settings.crop | split: ' ' | last | split: '' | last | plus: 0.0
    assign tallest_media_aspect_ratio = ratio_1 | divided_by: ratio_2
  else
    assign tallest_media_aspect_ratio = product.media | map: 'aspect_ratio' | sort | first
  endif
%}

{% unless request.design_mode %}
  <script src="{{ 'vendor-product.bundle.min.js' | asset_url }}" type="module"></script>
  <script src="{{ 'product.js' | asset_url }}" type="module"></script>
{% endunless %}

<style>
  :root {
    --max-possible-width: min(var(--max-site-width), 100vw);
    --column-width: calc((var(--max-possible-width) - (var(--section-x-padding) * 2)  - var(--grid-gap)*11) / 12);
    --media-width: calc((var(--column-width) * {{ media_desktop_cols }}) + (var(--grid-gap) * {{ media_desktop_cols | minus: 1 }}));
    --media-column-width: calc((var(--media-width) - (calc(var(--grid-gap)/2)*11)) / 12);
    --feature-media-width: calc((var(--media-width) - (var(--media-column-width)*2) - (calc(var(--grid-gap)/2)*2)));
    --largest-media-aspect-ratio: {{ tallest_media_aspect_ratio }};
    --thumbnails-height:  calc(var(--feature-media-width) / var(--largest-media-aspect-ratio));
  }
</style>


<section
  class="text-scheme-text bg-scheme-background relative overflow-hidden {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %}"
  data-color-scheme="{{ section_color }}"
  x-data="
    ThemeSection_Product({
      product: {{ product | json | escape }},
      variant: {{ current_variant | json | escape }},
      featuredMediaID: {{ featured_media.id | json }},
      template: {{ template | json | escape }},
      thumbnailsPosition: {{ section.settings.thumbnails_position | json | escape }},
      showThumbnailsOnMobile: {{ section.settings.show_thumbnails_on_mobile | json }}
    })"
  data-product-section
  >

  <div class="section-content py-section-vertical-spacing lg:px-section max-w-site mx-auto relative z-10">

    {% if section.settings.title != '' %}
      <h2 class="text-center font-heading  heading-standard heading-style break-words {{ settings.heading_drop_shadow_style }}">{{ section.settings.title }}</h2>
      {% endif %}

    <div class="{% if is_feature %}{% if section.settings.title != '' %}section-content-top-margin{% endif %}{% endif %}">
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-10">
        <div class="product-media col-span-full {{ media_desktop_width }}">
          {% liquid
            assign sizes = '(min-width: 990px) 50vw, 100vw'
            assign shape_id = section.id
          %}
          {%- render 'collection-shape-defs',
            shape: section.settings.image_shape,
            section_id: shape_id,
            item_count: product.media.size
          -%}
          {% if product.media.size == 1 %}
            {% liquid
              assign first_media = featured_media
            %}
            <div class="px-section lg:px-0">
              <div
                {% if first_media.media_type == 'image' and section.settings.enable_image_zoom %}
                  class="cursor-zoom-in"
                data-product-media-type-image data-product-image-index="0"
                {% assign image_index = image_index | plus: 1 %}
                {% endif %}
              >
                <div {% if section.settings.enable_image_zoom and first_media.media_type == 'image' %}
                  @click.prevent="openZoom('{{ product.media[0].id }}')" @keyup.space.prevent="openZoom('{{ product.media[0].id }}')" @keyup.enter.prevent="openZoom('{{ product.media[0].id }}')" tabindex="0" role="button"
                {% endif %}>

                  {%- if is_feature -%}
                  <a href="{{ product.url }}">
                  {%- endif -%}
                  {% render 'media',
                    media: first_media,
                    shape_id: shape_id,
                    sizes: sizes,
                    crop: section.settings.crop,
                    image_shape: section.settings.image_shape,
                    loading: 'eager',
                    index: forloop.index0
                  %}
                  {%- if is_feature -%}
                  </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {% elsif product.media.size > 1 %}
            <div class="col-span-6">
              <div class="grid grid-cols-1 lg:grid-cols-12 gap-5 relative">


                <div class="{% if section.settings.thumbnails_position == 'left' %}{% if section.settings.thumbnail_size == 'standard' %}col-span-2{% else %}col-span-3{% endif %}{% else %}col-span-full{% endif %} hidden lg:block">

                  {%- assign thumbnails_id = 'thumbnails-' | append: section.id -%}
                  {%- render 'collection-shape-defs',
                    shape: section.settings.thumbnail_shape,
                    section_id: thumbnails_id,
                    item_count: product.media.size
                  -%}

                  {%- if section.settings.thumbnails_position == 'left' -%}
                  <div class="thumbnails-container">
                    <div
                      id="slideshow-thumbnails-{{ section.id }}"
                      class="splide splide--thumbnails"
                      x-data="productThumbnails()"
                      x-init="mounted()"
                    >
                      <div class="splide__track h-full">
                        <div
                          class="thumbnails-overflow-indicator-top z-[2] absolute top-0 left-0 right-0 bg-gradient-to-b from-scheme-background to-transparent w-full h-24 pointer-events-none transition-opacity duration-150"
                          :class="{ 'opacity-0' : firstVisible }"
                        ></div>
                  {%- endif -%}
                      <ul class="w-full {% if section.settings.thumbnails_position == 'left' %}splide__list h-full{% else %}grid {% if section.settings.thumbnail_size == 'standard' %}grid-cols-5{% else %}grid-cols-4{% endif %} {% endif %} gap-2.5">
                        {% comment %} theme-check-disable LiquidTag {% endcomment %}
                        {%- assign thumbnail_index = 0 -%}
                        {%- if featured_media != null -%}
                          {%- render 'product-thumbnail',
                            media: featured_media,
                            section: section,
                            thumbnails_id: thumbnails_id,
                            index: thumbnail_index,
                            featured_media: featured_media
                          -%}
                          {%- assign thumbnail_index = thumbnail_index | plus: 1 -%}
                        {%- endif -%}
                        {% for media in product.media %}
                          {%- unless media.id == featured_media.id -%}
                          {%- render 'product-thumbnail',
                            media: media,
                            section: section,
                            thumbnails_id: thumbnails_id,
                            forloop: forloop,
                            index: thumbnail_index,
                            featured_media: featured_media
                          -%}
                          {%- assign thumbnail_index = thumbnail_index | plus: 1 -%}
                          {%- endunless -%}
                        {% endfor %}
                        {% comment %} theme-check-enable LiquidTag {% endcomment %}
                      </ul>
                  {%- if section.settings.thumbnails_position == 'left' -%}
                      <div
                        class="thumbnails-overflow-indicator-bottom z-[2] absolute bottom-0 left-0 right-0 bg-gradient-to-t from-scheme-background to-transparent w-full h-24 pointer-events-none transition-opacity duration-150"
                        :class="{ 'opacity-0' : lastVisible }"
                      ></div>
                      </div>
                    </div>
                  </div>
                  {%- endif -%}
                </div>

                <div class="{% if section.settings.thumbnails_position == 'left' %}{% if section.settings.thumbnail_size == 'standard' %}lg:col-span-10 lg:col-start-3{% else %}lg:col-span-9 lg:col-start-4{% endif %}{% else %}row-start-1  col-span-full{% endif %} min-w-[0]">
                  <div
                    id="slideshow-{{ section.id }}"
                    class="splide splide--product"
                    data-drag-disabled="{{ has_interactive_media }}"
                    data-first-media="{{ first_media.id }}"
                    {% if section.settings.thumbnails_position == 'left' %}
                    data-thumbnails="slideshow-thumbnails-{{ section.id }}"
                    {% endif %}
                    {% if section.settings.media_mobile_width == 'w-4/5' %}
                    data-two-slides-visible-on-mobile
                    {% endif %}
                    >
                    <div class="splide__track">
                      <ul class="feature-media-list w-full splide__list  lg:relative lg:grid" role="list">
                        {%- assign media_index = 0 -%}
                        {%- if featured_media != null -%}
                          {% liquid
                            assign loading = 'eager'
                            if section.settings.image_shape == 'blob'
                              assign shape_id = section.id | append: '-' | append: media_index
                            endif
                          %}
                          <li
                            class="max-lg:!block feature-media-item block {{ section.settings.media_mobile_width }} lg:w-full splide__slide px-section lg:px-0  {% if section.settings.enable_image_zoom and media.media_type == 'image' %}cursor-zoom-in{% endif %}"
                            data-media-id="{{ featured_media.id }}"
                            x-transition.opacity.duration.200ms
                            x-show="current_media_id === {{ featured_media.id }}"
                            {% if featured_media.media_type == 'image' %}
                              data-product-media-type-image data-product-image-index="{{ image_index }}"
                              {% assign image_index = image_index | plus: 1 %}
                            {% endif %}
                          >
                            <div {% if section.settings.enable_image_zoom and featured_media.media_type == 'image' %}
                              @click.prevent="openZoom('{{ featured_media.id }}')" @keyup.space.prevent="openZoom('{{ featured_media.id }}')" @keyup.enter.prevent="openZoom('{{ featured_media.id }}')" tabindex="0" role="button"
                            {% endif %}>
                              {% render 'media',
                                media: featured_media,
                                shape_id: shape_id,
                                sizes: sizes,
                                loading: loading,
                                crop: section.settings.crop,
                                image_shape: section.settings.image_shape,
                                index: media_index
                              %}
                              {%- assign media_index = media_index | plus: 1 %}
                            </div>
                          </li>
                        {%- endif -%}

                        {% for media in product.media %}
                          {%- unless media.id == featured_media.id -%}
                          {% liquid
                            if media.id == featured_media.id
                              assign loading = 'eager'
                            else
                              assign loading = 'lazy'
                            endif
                            if section.settings.image_shape == 'blob'
                              assign shape_id = section.id | append: '-' | append: forloop.index0
                            endif
                          %}
                          <li
                            class="max-lg:!block feature-media-item block {{ section.settings.media_mobile_width }} lg:w-full splide__slide px-section lg:px-0 {% if section.settings.enable_image_zoom and media.media_type == 'image' %}cursor-zoom-in{% endif %}"
                            data-media-id="{{ media.id }}"
                            x-transition.opacity.duration.200ms
                            x-show="current_media_id === {{ media.id }}"
                            {% if media.media_type == 'image' %}
                            data-product-media-type-image data-product-image-index="{{ image_index }}"
                            {% assign image_index = image_index | plus: 1 %}
                            {% endif %}
                          >
                            <div {% if section.settings.enable_image_zoom and media.media_type == 'image' %}
                              @click.prevent="openZoom('{{ media.id }}')" @keyup.space.prevent="openZoom('{{ media.id }}')" @keyup.enter.prevent="openZoom('{{ media.id }}')" tabindex="0" role="button"
                            {% endif %}>
                              {% render 'media',
                                media: media,
                                shape_id: shape_id,
                                sizes: sizes,
                                loading: loading,
                                crop: section.settings.crop,
                                image_shape: section.settings.image_shape,
                                index: media_index
                              %}
                            </div>
                          </li>
                          {%- assign media_index = media_index | plus: 1 %}
                          {%- endunless -%}
                        {% endfor %}
                      </ul>
                    </div>
                    {% assign first_3d_model = product.media | where: 'media_type', 'model' | first %}
                    {%- if first_3d_model -%}
                      <div class="px-section mt-2.5 lg:mb-0">
                        <button
                          aria-label="{{ 'products.media.view_in_your_space_label' | t }}"
                          class="push-btn w-full"
                          data-shopify-xr
                          data-shopify-model3d-id="{{ first_3d_model.id }}"
                          data-shopify-title="{{ product.title }}"
                          data-shopify-xr-hidden
                        >
                          <span class="push-btn-surface w-full inline-block">
                            <span class="inline-block w-6 -mt-0.5 align-middle">
                              {% render 'icon-model' %}
                            </span>
                            <span class="text-sm">{{ 'products.media.view_in_your_space' | t }}</span>
                          </span>
                        </button>
                      </div>
                    {%- endif -%}
                    <div class="splide__arrows px-section flex items-center justify-end gap-2 mt-4 lg:hidden">
                      {%- render 'splide-navigation' -%}
                    </div>
                    {%- if section.settings.show_slideshow_arrows_on_desktop -%}
                    <div class="splide__arrows flex items-center justify-end gap-2 mt-4 hidden lg:block text-right">
                      <div class="inline-block controls relative z-10 ml-auto {% if settings.button_shadow_direction contains 'top' %}pt-button-shadow{% else %}pb-button-shadow{% endif %}">
                        <div class="flex gap-2">
                          <button class="push-btn"
                            @click="changeMedia('prev')"
                            @keydown.space="changeMedia('prev')"
                            @keydown.left.prevent="changeMedia('prev')"
                            @keydown.enter="changeMedia('prev')">
                            <span class="sr-only">{{ 'sections.slideshow.previous_slide' | t }}</span>
                            <span class="push-btn-surface align-bottom p-2">
                              <span class="block w-5 h-5">{% render 'icon-previous' %}</span>
                            </span>
                          </button>
                          <button class="push-btn"
                            @click="changeMedia('next')"
                            @keydown.space="changeMedia('next')"
                            @keydown.right.prevent="changeMedia('next')"
                            @keydown.enter="changeMedia('next')">
                            <span class="sr-only">{{ 'sections.slideshow.next_slide' | t }}</span>
                            <span class="push-btn-surface align-bottom p-2">
                              <span class="block w-5 h-5">{% render 'icon-next' %}</span>
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                    {%- endif -%}

                      {%- if section.settings.show_thumbnails_on_mobile == true -%}
                        {%- assign mobile_thumbnails_id = 'mobile-thumbnails-' | append: section.id -%}
                        {%- render 'collection-shape-defs',
                          shape: section.settings.thumbnail_shape,
                          section_id: mobile_thumbnails_id,
                          item_count: product.media.size
                        -%}
                        <div class="px-section">
                          <ul class="lg:hidden w-full grid mt-4 {% if section.settings.thumbnail_size == 'standard' %}grid-cols-5{% else %}grid-cols-4{% endif %} gap-2.5">
                            {% comment %} theme-check-disable LiquidTag {% endcomment %}
                            {%- assign mobile_thumbnail_index = 0 -%}
                            {%- if featured_media != null -%}
                              {%- render 'product-thumbnail',
                                media: featured_media,
                                section: section,
                                thumbnails_id: mobile_thumbnails_id,
                                index: mobile_thumbnail_index,
                                featured_media: featured_media
                              -%}
                              {%- assign mobile_thumbnail_index = mobile_thumbnail_index | plus: 1 -%}
                            {%- endif -%}
                            {% for media in product.media %}
                              {%- unless media.id == featured_media.id -%}
                                {%- render 'product-thumbnail',
                                  media: media,
                                  section: section,
                                  thumbnails_id: mobile_thumbnails_id,
                                  forloop: forloop,
                                  index: mobile_thumbnail_index,
                                  featured_media: featured_media
                                -%}
                                {%- assign mobile_thumbnail_index = mobile_thumbnail_index | plus: 1 -%}
                              {%- endunless -%}
                            {% endfor %}
                            {% comment %} theme-check-enable LiquidTag {% endcomment %}
                          </ul>
                        </div>
                      {%- endif -%}
                    {% unless request.design_mode %}
                      <script src="{{ 'modules-slideshow.bundle.min.js' | asset_url }}" type="module"></script>
                    {% endunless %}
                    {{ 'modules-slideshow.bundle.css' | asset_url | stylesheet_tag }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>



        <div class="product-content col-span-full {{ content_desktop_width }} px-section lg:px-0 ">
          <div class="product-block-container w-full max-w-full xl:grid xl:grid-cols-12">
            <div class="xl:col-span-10 xl:col-start-2 relative">

            {%- assign last_block_was_card = false -%}
            {% for block in section.blocks %}
              {%- liquid
                if block.type == 'variant_picker' and product.has_only_default_variant
                  continue
                endif
                assign block_base_classes = 'product-block product-block-' | append: block.type | replace: '_', '-'
                assign is_card = block.settings.display_on_card | default: false
                assign card_start = false
                assign card_end = false
                if is_card and last_block_was_card == false
                  assign card_start = true
                endif
                if is_card == false and last_block_was_card == true
                  assign card_end = true
                endif
                if forloop.first and is_card
                  assign card_start = true
                endif
              -%}
              {% comment %} theme-check-disable LiquidTag {% endcomment %}
              {%- if section.blocks.size > 1 -%}
                {%- capture card_end_code %}
                    </div>
                    {% if settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
                  </div>
                </div>
                {%- endcapture %}
                {%- if card_start -%}
                <div class="{{ block_base_classes }} {% if settings.card_shadow_direction contains 'top' %}pt-card-shadow{% else %}pb-card-shadow{% endif %}">
                  <div class="card-container">
                    <div class="card p-5">
                {%- endif -%}
                {%- if card_end -%}
                  {{ card_end_code }}
                {%- endif -%}
              {%- endif -%}
              {% case block.type %}
                {% when '@app' %}
                  {% render block %}
                {% when 'title' %}
                  <div class="{{ block_base_classes }} break-words" {{ block.shopify_attributes }}>
                    {% assign header_tag = 'h1' %}
                    {% if is_feature %}
                      {% assign header_tag = 'h2' %}
                    {% endif %}
                    <{{ header_tag }} class="font-heading heading-feature {{ block.settings.text_align }}">
                      {%- if is_feature -%}
                      <a href="{{ product.url }}">
                      {%- endif -%}
                      {{ product.title | escape }}
                      {%- if is_feature -%}
                      </a>
                      {%- endif -%}
                    </{{ header_tag }}>
                  </div>
                {% when 'price' %}
                  {% render 'product-block-price',
                    product: product,
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {% when 'variant_picker' %}
                  {%- liquid
                    if block.settings.hide_option_labels
                      assign label_class = 'sr-only'
                    else
                      assign label_class = 'block font-secondary text-scheme-text text-sm'
                    endif
                    render 'product-block-variant-picker', product: product, block: block, label_class: label_class, block_base_classes: block_base_classes
                  -%}
                {% when 'quantity_selector' %}
                  {% render 'product-block-quantity',
                    product_form_id: product_form_id,
                    label_class: label_class,
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {% when 'buy_buttons' %}
                  {% render 'product-block-buy-buttons',
                    product: product,
                    product_form_id: product_form_id,
                    label_class: label_class,
                    current_variant: current_variant,
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'vendor' -%}
                  {% render 'product-block-vendor',
                    product: product,
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'star_rating' -%}
                  {% render 'product-block-star-rating',
                    product: product,
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'text' -%}
                  {% render 'product-block-text',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'description' -%}
                  {% render 'product-block-description',
                    product: product,
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'popup' -%}
                  {% render 'product-block-popup',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'collapsible_tab' -%}
                  {% render 'product-block-collapsible-tab',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'icon_row' -%}
                  {% render 'product-block-icon-row',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'nutritional_information' -%}
                  {% render 'product-block-nutritional-information',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'horizontal_bar_chart' -%}
                  {% render 'product-block-horizontal-bar-chart',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'comparative_scale' -%}
                  {% render 'product-block-comparative-scale',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'complementary' -%}
                  {% render 'product-block-complementary-products',
                    block: block,
                    block_base_classes: block_base_classes,
                  %}
                {%- when 'share_buttons' -%}
                  <div class="{{ block_base_classes }}" {{ block.shopify_attributes }}>
                    {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                  </div>
                {%- when 'liquid' -%}
                  <div class="{{ block_base_classes }}" {{ block.shopify_attributes }}>
                    {{ block.settings.liquid }}
                  </div>
              {% endcase %}
              {%- liquid
                if block.settings.display_on_card
                  assign last_block_was_card = true
                else
                  assign last_block_was_card = false
                endif
                if forloop.last and is_card and section.blocks.size > 1
                  echo card_end_code
                endif
              -%}
              {% comment %} theme-check-enable LiquidTag {% endcomment %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
        when 'background_pattern'
          render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
      endcase
    endfor

    if section.settings.enable_image_zoom
      render 'photoswipe'
    endif
  -%}

</section>

{%- liquid
  assign stickers = section.blocks | where: "type", "sticker"
  assign shape_dividers = section.blocks | where: "type", "shape_divider"
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
  for shape_divider in shape_dividers
    render 'block-shape-divider' with block: shape_divider, section: section
  endfor
-%}

{% if models.size %}
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script>
    window.ProductModel = {
      loadShopifyXR() {
        Shopify.loadFeatures([
          {
            name: 'shopify-xr',
            version: '1.0',
            onLoad: this.setupShopifyXR.bind(this),
          },
        ]);
      },

      setupShopifyXR(errors) {
        if (errors) return;

        if (!window.ShopifyXR) {
          document.addEventListener('shopify_xr_initialized', () =>
            this.setupShopifyXR()
          );
          return;
        }

        document.querySelectorAll('[id^="ModelJson-"]').forEach((modelJSON) => {
          window.ShopifyXR.addModels(JSON.parse(modelJSON.textContent));
          modelJSON.remove();
        });
        window.ShopifyXR.setupXRElements();
      },
    };

    window.addEventListener('DOMContentLoaded', () => {
      if (Shopify.designMode) {
        document.querySelectorAll("[data-shopify-xr-hidden]").forEach(element => element.classList.add('hidden'));
      }
      if (window.ProductModel) window.ProductModel.loadShopifyXR();
    });
  </script>
{% endif %}