{%- liquid
  if settings.desktop_feature_heading_scale > 4
    assign price_text_size = 'text-base lg:text-lg'
  else
    assign price_text_size = 'text-base'
  endif
-%}
<div
  class="{{ block_base_classes }}  text-lg  {{ block.settings.text_align }}"
  :class="{ 'invisible': !current_variant }"
  {{ block.shopify_attributes }}
>

  <span class="sr-only">{{ 'products.general.regular_price' | t }}</span>
  <span
    class="text-scheme-text {{ price_text_size }}"
    x-html="formatMoney(current_price)"
    :class="
      {
        'invisible': !current_variant
      }"
    data-product-price
  >
    {{ current_variant.price | money }}
  </span>

  {% if product.compare_at_price_max > product.price %}
    <template x-if="current_variant && product.compare_at_price_max && current_variant.compare_at_price > current_variant.price">
      <span class="{{ price_text_size }}">
        <span class="sr-only">{{ 'products.general.sale_price' | t }}</span>
        <s data-compare-price
          class="text-scheme-text"
          x-html="formatMoney(current_variant.compare_at_price)">
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      </span>
    </template>
  {% endif %}

  <template x-if="current_variant && current_variant.unit_price">
    <div class="text-sm text-scheme-text mt-2" data-unit-price-wrapper>
      <span class="sr-only">
        {{- 'products.product.unit_price_label' | t -}}
      </span>
      <span x-html="formatMoney(current_variant.unit_price)">
        {{- current_variant.unit_price | money -}}
      </span>
      <span aria-hidden="true">
        /
      </span>
      <span class="sr-only">
        {{- 'general.accessibility.unit_price_separator' | t -}}
      </span>
      <span
        x-html="
          current_variant.unit_price_measurement.reference_value != 1 ? current_variant.unit_price_measurement.reference_value : ''
        "
      >
        {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
          {{- current_variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
      </span><!--
      --><span x-html="current_variant.unit_price_measurement.reference_unit">
        {{- current_variant.unit_price_measurement.reference_unit -}}
      </span>
    </div>
  </template>

  {%- if cart.taxes_included -%}
    <div class="product__tax caption mt-1.5 text-sm">
      {%- if cart.taxes_included -%}
        {{ 'products.product.include_taxes' | t }}
      {%- endif -%}
    </div>
  {%- endif -%}


  {%- if block.settings.show_on_sale_sticker -%}
    {%- if product.compare_at_price_max > product.price -%}
      {%- liquid
        assign text = 'products.product.on_sale' | t
        assign id = 'on-sale-sticker-' | append: product.id
        assign shape = settings.on_sale_badge_shape
      -%}
      {%- render 'static-sticker-defs' with shape: settings.on_sale_badge_shape, id: id -%}
      {%- render 'static-sticker',
        static_id: id,
        shape: shape,
        id: id,
        text: text,
        vertical_position: 2,
        horizontal_position: 90,
        rotate: 15,
        width: 120,
        font_size: '1.563rem',
        color: 'bg-scheme-accent-1 text-scheme-accent-1-overlay'
      %}
    {%- endif -%}
  {%- endif -%}
</div>


