{%- liquid
  assign label_class = 'sr-only'
  if block.settings.show_label
  assign label_class = 'block font-secondary text-scheme-text text-sm'
  endif
-%}
<div

  class="{{ block_base_classes }}"
  x-data="ThemeComponent_Quantity()"
  {{ block.shopify_attributes }}
>
  <div class="lg:flex lg:items-center lg:justify-start">
    <label class="{{ label_class }}  lg:w-1/4 xl:w-1/5 lg:shrink-0 pr-2.5" for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
    <div class="mt-2.5 lg:mt-0 lg:flex-1">
      <div class="flex flex-nowrap justify-start items-center">
        <button
          class="push-btn"
          aria-label="&minus;"
          @click.prevent.stop="decreaseQuantity"
        >
          <div class="push-btn-surface push-btn-surface--secondary align-bottom p-2">
            <div class="w-4 h-4 m-auto">{% render 'icon-subtract' %}</div>
          </div>
        </button>
        <input
          type="number"
          class="input--no-border block appearance-none text-center border-0 bg-transparent text-base max-w-[3rem] p-2 text-scheme-text"
          form="{{ product_form_id }}"
          id="Quantity-{{ section.id }}"
          name="quantity"
          x-model="quantity"
          x-ref="quantityInput"
        >
        <button
          class="push-btn"
          aria-label="&plus;"
          @click.prevent.stop="increaseQuantity"
        >
          <div class="push-btn-surface push-btn-surface--secondary align-bottom p-2">
            <div class="w-4 h-4 m-auto">{% render 'icon-add' %}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

{% unless request.design_mode %}
  <script src="{{ 'modules-quantity.bundle.min.js' | asset_url }}" type="module"></script>
{% endunless %}
