<div
  class="{{ block_base_classes }}"
  {{ block.shopify_attributes }}
>
  <div class=" gap-1 comparison-chart items-center pb-4">
      {%- liquid
        assign marker_position = block.settings.marker_position
        if block.settings.marker_position_alt != blank
          assign marker_position = block.settings.marker_position_alt
        endif
      -%}
      <div class="flex justify-between pb-1">
        {%- if block.settings.left_label != blank -%}
        <div class="text-sm col-span-2">
          {{ block.settings.left_label }} <span class="sr-only">{{ marker_position }}%</span>
        </div>
        {%- endif -%}
        {%- if block.settings.right_label != blank -%}
          <div class="text-sm col-span-2 text-right">
            {{ block.settings.right_label }} <span class="sr-only">{{ marker_position | plus: 0 | minus: 100 | times: -1 }}%</span>
          </div>
        {%- endif -%}
      </div>
      <div class="relative col-span-8">
        
        <div class="relative border-input border-scheme-text bg-scheme-accent-1 h-2 rounded-full">
          <div class="h-full w-0 border-r-input border-scheme-text absolute top-0 left-[20%]"></div>
          <div class="h-full w-0 border-r-input border-scheme-text absolute top-0 left-[40%]"></div>
          <div class="h-full w-0 border-r-input border-scheme-text absolute top-0 left-[60%]"></div>
          <div class="h-full w-0 border-r-input border-scheme-text absolute top-0 left-[80%]"></div>
          <div class="absolute top-1/2 transform -translate-y-1/2 -translate-x-1/2 w-5 h-5 z-10 border-button border-scheme-text rounded-full bg-scheme-accent-1 p-[2px]" style="left: {{ marker_position }}%">
            <div class="w-full h-full rounded-full bg-scheme-text"></div>
          </div>
        </div>
      </div>
  </div>
</div>
