{% liquid
  if recommendations.products_count == 1
    assign grid_cols_class = 'grid-cols-1'
  else
    assign remainder = recommendations.products_count | modulo: 2
    case remainder
      when 0
        assign grid_cols_class = 'grid-cols-2'
      else
        assign grid_cols_class = 'grid-cols-3'
    endcase
  endif
%}
<div class="{{ block_base_classes }} text-sm" {{ block.shopify_attributes }}>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <div class="product-recommendations">
      {%- if block.settings.block_heading != blank -%}
        <h2 class="font-heading break-word heading-secondary mb-5">
          {{ block.settings.block_heading }}
        </h2>
      {%- endif -%}
      <ul class="mt-5 grid {{ grid_cols_class }} gap-5">
        {%- for product in recommendations.products -%}
          {%- render 'product-tile', product: product -%}
        {%- endfor -%}
      </ul>
    </div>
  {% else %}
    {% capture section_url %}{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary{% endcapture %}
    <div
      class="product-recommendations"
      x-data
      x-html="$fetchedSection(
        '{{ section_url }}',
        '.product-recommendations'
      )"></div>
  {% endif %}
</div>
