<div class="section-content py-section-vertical-spacing px-section" x-data="ThemeSection_login()" x-init="init()" data-color-scheme="primary">
  <div class="max-w-md mx-auto card-container" :class="{'hidden': state !== 'login'}" data-state="login">
    <div class="card p-5 lg:p-10 text-center mx-auto relative z-shape-divider">
      {% form 'customer_login', data-login-focus: true, tabindex: '-1' %}
        <div class="lg:flex items-center justify-between">
          <h1 class="font-heading heading-standard mb-2.5" tabindex="-1" data-should-focus>{{ 'customer.login.title' | t }}</h1>
          <a class="font-secondary  text-sm" href="{{ routes.account_register_url }}">{{ 'layout.customer.create_account' | t }}</a>
        </div>

        {% if form.errors %}
          <div class="mt-5" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
        {% endif %}

        <label class="mt-5 mb-1 block font-secondary text-sm text-left" for="CustomerEmail" class="label-hidden">
          {{ 'customer.login.email' | t }}
        </label>
        <input type="email"
              name="customer[email]"
              id="CustomerEmail"
              class="w-full {% if form.errors contains 'email' %}border-scheme-accent{% endif %}"
              spellcheck="false"
              autocomplete="email"
              autocapitalize="off"
              {% unless form.errors %}autofocus{% endunless %}>

        {% if form.password_needed %}
          <label class="mt-5 mb-1 block font-secondary text-sm text-left" for="CustomerPassword" class="label-hidden">
            {{ 'customer.login.password' | t }}
          </label>
          <input type="password"
                name="customer[password]"
                id="CustomerPassword"
                autocomplete="password"
                class="w-full {% if form.errors contains 'password' %}border-scheme-accent{% endif %}">
        {% endif %}

        <div class="mt-5">
          <button type="submit" class="push-btn w-full theme-button">
            <span class="push-btn-surface w-full">{{ 'customer.login.sign_in' | t }}</span>
          </button>
        </div>

        <div class="mt-5 text-center">
          <a class="block text-sm" href="{{ routes.root_url }}">{{ 'customer.login.cancel' | t }}</a>
          {% if form.password_needed %}
            <button @click="state = 'recover'" type="button" class="mt-2.5 inline-block ">
              <span class="text-sm">{{ 'customer.login.forgot_password' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endform %}
    </div>
    <div class="card-border"></div>
  </div>

  <div class="max-w-md mx-auto card-container" :class="{'hidden': state !== 'recover'}" x-cloak data-state="recover">
    <div class="card p-5 lg:p-10 text-center mx-auto relative z-shape-divider">
      <h2 class="font-heading heading-standard mb-2.5" data-should-focus tabindex="-1">{{ 'customer.recover_password.title' | t }}</h2>

      {% form 'recover_customer_password' %}
        {% if form.errors %}
          <div class="mt-5" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
        {% endif %}

        {% if form.posted_successfully? %}
          <p data-recover-success>{{ 'customer.recover_password.success' | t }}</p>
        {% else %}
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
          <label for="RecoverEmail" class="mt-5 mb-1 block font-secondary text-sm text-left">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <input type="email"
                class="w-full bg-transparent border-text-width border-primary-border"
                name="email"
                id="RecoverEmail"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off">
          <div class="mt-5 text-center">
            <button type="submit" class="block push-btn w-full theme-button">
              <span class="push-btn-surface w-full">{{ 'customer.recover_password.submit' | t }}</span>
            </button>
            <button class="mt-5 text-primary-accent-1 text-sm" type="button" @click="state = 'login'">
              {{ 'customer.recover_password.cancel' | t }}
            </button>
          </div>
        {% endif %}
      {% endform %}
    </div>
    <div class="card-border"></div>
  </div>

  {% if shop.checkout.guest_login %}
    <div class="mt-8">
      <h2 class="text-center mb-2">{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <button type="submit" class="push-btn w-full theme-button">
          <span class="push-btn-surface w-full">{{ 'customer.login.guest_continue' | t }}</span>
        </button>
      {% endform %}
    </div>
  {%- endif -%}
</div>

<script src="{{ 'login.js' | asset_url }}" type="module"></script>
