<div class="section-content py-section-vertical-spacing px-section">
  <div class="max-w-md mx-auto card-container">
    <div class="card p-5 lg:p-10 text-left mx-auto relative z-shape-divider">
      {% form 'reset_customer_password' %}
        <h1 class="font-heading heading-standard mb-2.5">{{ 'customer.reset_password.title' | t }}</h1>

        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {% if form.errors %}
          <div class="mt-5" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
        {% endif %}

        <label for="ResetPassword" class="mt-5 mb-1 block font-secondary text-sm">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="w-full {% if form.errors contains 'password' %}border-scheme-accent{% endif %}">

        <label for="PasswordConfirmation" class="mt-5 mb-1 block font-secondary text-sm">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="w-full {% if form.errors contains 'password_confirmation' %}border-scheme-accent{% endif %}">

        <div class="mt-4">
          <div class="push-btn w-full">
            <input type="submit" class="push-btn-surface w-full theme-button" value="{{ 'customer.reset_password.submit' | t }}">
          </div>
        </div>
      {% endform %}
    </div>
    <div class="card-border"></div>
  </div>
</div>
