{%- liquid
  assign block_heading_level = 'h2'
  assign crop = section.settings.crop
  assign divisible_by_four =  section.settings.post_limit | modulo: 4
  assign divisible_by_three =  section.settings.post_limit | modulo: 3
  if divisible_by_four == 0
    assign col_span = 'lg:col-span-3'
  elsif divisible_by_three == 0
    assign col_span = 'lg:col-span-4'
  else
    assign col_span = 'lg:col-span-6'
  endif
-%}

{%- render 'collection-shape-defs',
  shape: section.settings.image_shape,
  section_id: section.id,
  item_count: section.settings.post_limit
-%}

<section class="relative text-scheme-text bg-scheme-background  {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %} relative overflow-hidden" data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}" >

  <div class="section-content relative z-10 w-full max-w-site mx-auto py-section-vertical-spacing px-section">

    {% if section.settings.title != '' %}
    {%- assign block_heading_level = 'h3' -%}
    <h2 class="text-center font-heading  heading-standard heading-style break-words {{ settings.heading_drop_shadow_style }}">{{ section.settings.title }}</h2>
    {% endif %}

    {%- assign blog = blogs[section.settings.blog] -%}
    <ul class="{% if section.settings.title != '' %}section-content-top-margin{% endif %} grid grid-cols-1 lg:grid-cols-12 gap-10">
      {% for article in blog.articles limit: section.settings.post_limit %}
        {%- liquid
          assign shape_id = section.id
          if section.settings.image_shape == 'blob'
            assign shape_id = section.id | append: '-' | append: forloop.index0
          endif
        -%}
        <li class="{{ col_span }} {% if section.settings.display_on_card %}text-scheme-text card-container{% endif %}" {{ block.shopify_attributes }}>
          <div class="relative {% if section.settings.display_on_card %}card p-5{% endif %} text-center">
            {%- if article.image -%}
              <div class="mb-5 {% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}">
                {%- render 'media-image',
                    media: article.image,
                    shape: section.settings.image_shape,
                    shape_id: shape_id,
                    is_card: section.settings.display_on_card,
                    crop: crop,
                    container_id: section.id,
                    index: forloop.index0
                -%}
              </div>
            {%- endif -%}

            <{{ block_heading_level }} class="font-heading heading-secondary break-words">
              <a href="{{ article.url }}">
              {{ article.title }}
              <span class="absolute top-0 left-0 w-full h-full z-10 block"></span>
              </a>
            </{{ block_heading_level }}>

            {%- if section.settings.blog_show_date -%}
            <time class="font-body text-base mt-2.5 block" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
            {%- endif -%}
            {% if section.settings.blog_show_author %}
            <p class="font-body text-base mt-2.5 block">{{ 'blogs.article.by_author' | t: author: article.author }}</p>
            {% endif %}

            {% if section.settings.show_post_excerpt %}
              <div class="rte mt-2.5">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  <p>{{ article.content | strip_html | truncatewords: 40 }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
          {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
        </li>
        {% else %}
          {% for i in (1..section.settings.post_limit) %}
            {%- liquid
              if section.settings.image_shape == 'blob'
                assign shape_id = section.id | append: '-' | append: forloop.index0
              endif
            -%}
            <li class=" {{ col_span }} {% if section.settings.display_on_card %}text-scheme-text card-container{% endif %}" {{ block.shopify_attributes }}>
              <div class="relative {% if section.settings.display_on_card %}card p-5 h-full{% endif %} text-center">
                <div class="mb-5 {% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}">
                  {%- render 'media-image-placeholder',
                      container_id: section.id,
                      shape_id: shape_id,
                      shape: section.settings.image_shape,
                      crop: section.settings.crop,
                      is_card: section.settings.display_on_card
                  -%}
                </div>
                <{{ block_heading_level }} class="font-heading heading-secondary">{{ 'homepage.onboarding.blog_title' | t }}</{{ block_heading_level }}>
              </div>
              {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
            </li>
          {% endfor %}
        {% endfor %}
    </ul>

    {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
    <div class="mt-10 text-center relative z-10">
      <a href="{{ section.settings.blog.url }}" class="inline-block push-btn">
        <span class="push-btn-surface">{{ 'blogs.article.read_more' | t }}</span>
      </a>
    </div>
    {%- endif -%}
  </div>

  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
        when 'background_pattern'
          render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
      endcase
    endfor
  -%}
</section>

{%- liquid
  assign stickers = section.blocks | where: "type", "sticker"
  assign shape_dividers = section.blocks | where: "type", "shape_divider"
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
  for shape_divider in shape_dividers
    render 'block-shape-divider' with block: shape_divider, section: section
  endfor
-%}

{% schema %}
{
  "name": "t:sections.blog_posts.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_on_card",
      "label": "t:sections.blog_posts.settings.display_on_card.label",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:common.settings.title.label",
      "default": "Blog posts"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "t:sections.blog_posts.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "t:sections.blog_posts.settings.post_limit.label",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "select",
      "id": "crop",
      "label": "t:common.settings.crop.label",
      "options": [
        {
          "value": "",
          "label": "t:common.options.no_crop.label"
        },
        {
          "value": "aspect-w-4 aspect-h-3",
          "label": "t:common.options.landscape.label"
        },
        {
          "value": "aspect-w-1 aspect-h-1",
          "label": "t:common.options.square.label"
        },
        {
          "value": "aspect-w-3 aspect-h-4",
          "label": "t:common.options.portrait.label"
        }
      ],
      "default": "aspect-w-4 aspect-h-3"
    },
    {
      "type": "select",
      "id": "image_shape",
      "label": "t:common.settings.image_shape.label",
      "options": [
        {
          "value": "default",
          "label": "t:common.options.default.label",
          "group": "Fit to image"
        },
        {
          "value": "default_ellipse",
          "label": "t:common.options.ellipse.label",
          "group": "Fit to image"
        },
        {
          "value": "default_pill",
          "label": "t:common.options.pill.label",
          "group": "Fit to image"
        },
        {
          "value": "default_archway",
          "label": "t:common.options.archway.label",
          "group": "Fit to image"
        },
        {
          "value": "diamond",
          "label": "t:common.options.diamond.label",
          "group": "Basic"
        },
        {
          "value": "triangle_1",
          "label": "t:common.options.triangle_1.label",
          "group": "Basic"
        },
        {
          "value": "triangle_2",
          "label": "t:common.options.triangle_2.label",
          "group": "Basic"
        },
        {
          "value": "pentagon",
          "label": "t:common.options.pentagon.label",
          "group": "Polygons"
        },
        {
          "value": "hexagon",
          "label": "t:common.options.hexagon.label",
          "group": "Polygons"
        },
        {
          "value": "heptagon",
          "label": "t:common.options.heptagon.label",
          "group": "Polygons"
        },
        {
          "value": "octagon",
          "label": "t:common.options.octagon.label",
          "group": "Polygons"
        },
        {
          "value": "rounded_pentagon",
          "label": "t:common.options.rounded_pentagon.label",
          "group": "Polygons"
        },
        {
          "value": "rounded_hexagon",
          "label": "t:common.options.rounded_hexagon.label",
          "group": "Polygons"
        },
        {
          "value": "rounded_heptagon",
          "label": "t:common.options.rounded_heptagon.label",
          "group": "Polygons"
        },
        {
          "value": "rounded_octagon",
          "label": "t:common.options.rounded_octagon.label",
          "group": "Polygons"
        },
        {
          "value": "star_1",
          "label": "t:common.options.star_1.label",
          "group": "Circular"
        },
        {
          "value": "star_2",
          "label": "t:common.options.star_2.label",
          "group": "Circular"
        },
        {
          "value": "star_3",
          "label": "t:common.options.star_3.label",
          "group": "Circular"
        },
        {
          "value": "star_4",
          "label": "t:common.options.star_4.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_1",
          "label": "t:common.options.scalloped_circle_1.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_2",
          "label": "t:common.options.scalloped_circle_2.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_3",
          "label": "t:common.options.scalloped_circle_3.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_4",
          "label": "t:common.options.scalloped_circle_4.label",
          "group": "Circular"
        },
        {
          "value": "parallelogram",
          "label": "t:common.options.parallelogram.label",
          "group": "Square"
        },
        {
          "value": "scalloped_square",
          "label": "t:common.options.scalloped.label",
          "group": "Square"
        },
        {
          "value": "leaf",
          "label": "t:common.options.leaf.label",
          "group": "Square"
        },
        {
          "value": "clipped_square",
          "label": "t:common.options.clipped.label",
          "group": "Square"
        },
        {
          "value": "convex_square",
          "label": "t:common.options.convex.label",
          "group": "Square"
        },
        {
          "value": "twisted_square",
          "label": "t:common.options.twisted.label",
          "group": "Square"
        },
        {
          "value": "trapeze",
          "label": "t:common.options.trapeze.label",
          "group": "Square"
        },
        {
          "value": "blob",
          "label": "t:common.options.blob.label",
          "group": "Miscellaneous"
        },
        {
          "value": "zig_zag",
          "label": "t:common.options.zig_zag.label",
          "group": "Miscellaneous"
        },
        {
          "value": "zig_zag_tear",
          "label": "t:common.options.zig_zag_tear.label",
          "group": "Miscellaneous"
        },
        {
          "value": "wave_tear",
          "label": "t:common.options.wave_tear.label",
          "group": "Miscellaneous"
        },
        {
          "value": "flower",
          "label": "t:common.options.flower.label",
          "group": "Miscellaneous"
        },
        {
          "value": "concave",
          "label": "t:common.options.concave.label",
          "group": "Miscellaneous"
        },
        {
          "value": "cross",
          "label": "t:common.options.cross.label",
          "group": "Miscellaneous"
        },
        {
          "value": "quatrefoil",
          "label": "t:common.options.quatrefoil.label",
          "group": "Miscellaneous"
        },
        {
          "value": "wind",
          "label": "t:common.options.wind.label",
          "group": "Miscellaneous"
        },
        {
          "value": "heart",
          "label": "t:common.options.heart.label",
          "group": "Miscellaneous"
        },
        {
          "value": "mirrored_pyramids",
          "label": "t:common.options.mirrored_pyramids.label",
          "group": "Miscellaneous"
        },
        {
          "value": "plus",
          "label": "t:common.options.plus.label",
          "group": "Miscellaneous"
        },
        {
          "value": "double_pill",
          "label": "t:common.options.double_pill.label",
          "group": "Miscellaneous"
        },
        {
          "value": "triple_pill",
          "label": "t:common.options.triple_pill.label",
          "group": "Miscellaneous"
        },
        {
          "value": "crown",
          "label": "t:common.options.crown.label",
          "group": "Miscellaneous"
        },
        {
          "value": "abstract_star",
          "label": "t:common.options.abstract_star.label",
          "group": "Miscellaneous"
        }
      ],
      "info": "t:common.settings.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "t:common.settings.blog_show_author.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "t:common.settings.blog_show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_post_excerpt",
      "label": "t:common.settings.show_post_excerpt.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.blog_posts.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:common.settings.header_color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:common.settings.color_scheme.label",
      "options": [
        {
          "value": "primary",
          "label": "t:common.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.options.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.options.quaternary.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "t:common.settings.use_gradient_background.label"
    }
  ],
  "blocks": [
    {
      "type": "background_pattern",
      "name": "t:common.blocks.background_pattern.name",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "t:common.blocks.background_pattern.settings.type.label",
          "options": [
            {
              "value": "diagonal_lines",
              "label": "t:common.options.diagonal_lines.label",
              "group": "Lines"
            },
            {
              "value": "grid",
              "label": "t:common.options.grid_lines.label",
              "group": "Lines"
            },
            {
              "value": "grid_with_diagonal_lines",
              "label": "t:common.options.grid_with_diagonal_lines.label",
              "group": "Lines"
            },
            {
              "value": "crosshatch",
              "label": "t:common.options.crosshatch.label",
              "group": "Lines"
            },
            {
              "value": "checkerboard",
              "label": "t:common.options.checkerboard.label",
              "group": "Lines"
            },
            {
              "value": "zig_zag",
              "label": "t:common.options.zig_zag.label",
              "group": "Lines"
            },
            {
              "value": "waves",
              "label": "t:common.options.waves.label",
              "group": "Lines"
            },
            {
              "value": "half_square_triangle",
              "label": "t:common.options.half-square_triangle.label",
              "group": "Shapes"
            },
            {
              "value": "dots",
              "label": "t:common.options.dots.label",
              "group": "Shapes"
            },
            {
              "value": "triangle",
              "label": "t:common.options.triangles.label",
              "group": "Shapes"
            },
            {
              "value": "polka_dot",
              "label": "t:common.options.polka_dot.label",
              "group": "Shapes"
            },
            {
              "value": "polka_dot_triangles",
              "label": "t:common.options.polka_dot_triangles.label",
              "group": "Shapes"
            },
            {
              "value": "plus",
              "label": "t:common.options.plus.label",
              "group": "Shapes"
            },
            {
              "value": "cross",
              "label": "t:common.options.cross.label",
              "group": "Shapes"
            },
            {
              "value": "squares",
              "label": "t:common.options.squares.label",
              "group": "Shapes"
            },
            {
              "value": "diamonds",
              "label": "t:common.options.diamonds.label",
              "group": "Shapes"
            },
            {
              "value": "vertical_stripes",
              "label": "t:common.options.vertical_stripes.label",
              "group": "Stripes"
            },
            {
              "value": "horizontal_stripes",
              "label": "t:common.blocks.background_pattern.settings.type.options.horizontal_stripes.label",
              "group": "Stripes"
            },
            {
              "value": "diagonal_stripes",
              "label": "t:common.options.diagonal_stripes.label",
              "group": "Stripes"
            },
            {
              "value": "sprinkles",
              "label": "t:common.blocks.background_pattern.settings.type.options.sprinkles.label",
              "group": "Miscellaneous"
            },
            {
              "value": "bubbles",
              "label": "t:common.blocks.background_pattern.settings.type.options.bubbles.label",
              "group": "Miscellaneous"
            },
            {
              "value": "squiggle",
              "label": "t:common.options.squiggle.label",
              "group": "Miscellaneous"
            },
            {
              "value": "windmill",
              "label": "t:common.options.windmill.label",
              "group": "Miscellaneous"
            },
            {
              "value": "8bit",
              "label": "t:common.options.8bit.label",
              "group": "Miscellaneous"
            },
            {
              "value": "origami",
              "label": "t:common.options.origami.label",
              "group": "Miscellaneous"
            },
            {
              "value": "3d_cube",
              "label": "t:common.blocks.background_pattern.settings.type.options.3d_cube.label",
              "group": "Miscellaneous"
            }
          ]
        },
        {
          "type": "select",
          "id": "color",
          "label": "t:common.blocks.background_pattern.settings.color.label",
          "default": "text",
          "options": [
            {
              "value": "text",
              "label": "t:common.options.text.label"
            },
            {
              "value": "accent-1",
              "label": "t:common.options.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:common.options.accent_2.label"
            },
            {
              "value": "card",
              "label": "t:common.options.card.label"
            },
            {
              "value": "background",
              "label": "t:common.options.background.label"
            },
            {
              "value": "gradient",
              "label": "t:common.options.gradient.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "size",
          "min": 6,
          "max": 600,
          "unit": "px",
          "label": "t:common.blocks.background_pattern.settings.size.label",
          "step": 6,
          "default": 24
        },
        {
          "type": "range",
          "id": "opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.settings.opacity.label",
          "default": 100
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "t:common.blocks.background_pattern.settings.enable_parallax.label",
          "default": false,
          "info": "t:common.blocks.background_pattern.settings.enable_parallax.info"
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.settings.parallax_speed.label",
          "default": 3
        }
      ]
    },
    {
      "type": "background_shape",
      "name": "t:common.blocks.background_shape.name",
      "settings": [
        {
          "type": "select",
          "id": "shape",
          "label": "t:common.blocks.background_shape.settings.shape.label",
          "default": "square",
          "options": [
            {
              "value": "square",
              "label": "t:common.blocks.background_shape.settings.shape.options.square.label",
              "group": "Basic"
            },
            {
              "value": "circle",
              "label": "t:common.blocks.background_shape.settings.shape.options.circle.label",
              "group": "Basic"
            },
            {
              "value": "oval",
              "label": "t:common.blocks.background_shape.settings.shape.options.oval.label",
              "group": "Basic"
            },
            {
              "value": "triangle",
              "label": "t:common.blocks.background_shape.settings.shape.options.triangle.label",
              "group": "Basic"
            },
            {
              "value": "parallelogram",
              "label": "t:common.blocks.background_shape.settings.shape.options.parallelogram.label",
              "group": "Basic"
            },
            {
              "value": "pentagon",
              "label": "t:common.options.pentagon.label",
              "group": "Polygons"
            },
            {
              "value": "hexagon",
              "label": "t:common.options.hexagon.label",
              "group": "Polygons"
            },
            {
              "value": "heptagon",
              "label": "t:common.options.heptagon.label",
              "group": "Polygons"
            },
            {
              "value": "octagon",
              "label": "t:common.options.octagon.label",
              "group": "Polygons"
            },
            {
              "value": "star_1",
              "label": "t:common.options.star_1.label",
              "group": "Circular"
            },
            {
              "value": "star_2",
              "label": "t:common.options.star_2.label",
              "group": "Circular"
            },
            {
              "value": "star_3",
              "label": "t:common.options.star_3.label",
              "group": "Circular"
            },
            {
              "value": "star_4",
              "label": "t:common.options.star_4.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_1",
              "label": "t:common.options.scalloped_circle_1.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_2",
              "label": "t:common.options.scalloped_circle_2.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_3",
              "label": "t:common.options.scalloped_circle_3.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_4",
              "label": "t:common.options.scalloped_circle_4.label",
              "group": "Circular"
            },
            {
              "value": "blob",
              "label": "t:common.options.blob.label",
              "group": "Miscellaneous"
            }
          ]
        },
        {
          "type": "range",
          "id": "blob_type",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.blocks.background_shape.settings.blob_type.label",
          "default": 1,
          "info": "t:common.blocks.background_shape.settings.blob_type.info"
        },
        {
          "type": "range",
          "id": "size",
          "min": 25,
          "max": 300,
          "step": 5,
          "label": "t:common.blocks.background_shape.settings.size.label",
          "default": 100
        },
        {
          "type": "range",
          "id": "opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.settings.opacity.label",
          "default": 100
        },
        {
          "type": "range",
          "id": "blur",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "t:common.blocks.background_shape.settings.blur.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:common.settings.header_position"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.background_shape.settings.horizontal_position.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.background_shape.settings.vertical_position.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "t:common.settings.rotate.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "t:common.blocks.background_shape.settings.enable_parallax.label",
          "default": false,
          "info": "t:common.blocks.background_shape.settings.enable_parallax.info"
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.settings.parallax_speed.label",
          "default": 3
        },
        {
          "type": "header",
          "content": "t:common.settings.header_color"
        },
        {
          "type": "select",
          "id": "color",
          "label": "t:common.blocks.background_shape.settings.color.label",
          "default": "accent-1",
          "options": [
            {
              "value": "text",
              "label": "t:common.options.text.label"
            },
            {
              "value": "accent-1",
              "label": "t:common.options.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:common.options.accent_2.label"
            },
            {
              "value": "card",
              "label": "t:common.options.card.label"
            },
            {
              "value": "background",
              "label": "t:common.options.background.label"
            },
            {
              "value": "gradient",
              "label": "t:common.options.gradient.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:common.settings.color_scheme.label",
          "default": "same_as_section",
          "options": [
            {
              "value": "same_as_section",
              "label": "t:common.options.same_as_section.label"
            },
            {
              "value": "primary",
              "label": "t:common.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.options.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.options.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.options.quaternary.label"
            }
          ]
        }
      ]
    },
    {
      "name": "t:common.blocks.sticker.name",
      "type": "sticker",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "t:common.blocks.sticker.settings.text.label",
          "default": "Sticker"
        },
        {
          "type": "select",
          "id": "shape",
          "label": "t:common.blocks.sticker.settings.shape.label",
          "options": [
            {
              "value": "fit_to_text",
              "label": "t:common.blocks.sticker.settings.shape.options.fit_to_text.label"
            },
            {
              "value": "circle",
              "label": "t:common.options.circle.label",
              "group": "Circular"
            },
            {
              "value": "star_1",
              "label": "t:common.options.star_1.label",
              "group": "Circular"
            },
            {
              "value": "star_2",
              "label": "t:common.options.star_2.label",
              "group": "Circular"
            },
            {
              "value": "star_3",
              "label": "t:common.options.star_3.label",
              "group": "Circular"
            },
            {
              "value": "star_4",
              "label": "t:common.options.star_4.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_1",
              "label": "t:common.options.scalloped_circle_1.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_2",
              "label": "t:common.options.scalloped_circle_2.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_3",
              "label": "t:common.options.scalloped_circle_3.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_4",
              "label": "t:common.options.scalloped_circle_4.label",
              "group": "Circular"
            },
            {
              "value": "parallelogram",
              "label": "t:common.options.parallelogram.label",
              "group": "Square"
            },
            {
              "value": "scalloped_square",
              "label": "t:common.options.scalloped.label",
              "group": "Square"
            },
            {
              "value": "leaf",
              "label": "t:common.options.leaf.label",
              "group": "Square"
            },
            {
              "value": "clipped_square",
              "label": "t:common.options.clipped.label",
              "group": "Square"
            },
            {
              "value": "convex_square",
              "label": "t:common.options.convex.label",
              "group": "Square"
            },
            {
              "value": "twisted_square",
              "label": "t:common.options.twisted.label",
              "group": "Square"
            },
            {
              "value": "trapeze",
              "label": "t:common.options.trapeze.label",
              "group": "Square"
            },
            {
              "value": "ellipse",
              "label": "t:common.options.ellipse.label",
              "group": "Wide"
            },
            {
              "value": "diamond_wide",
              "label": "t:common.options.diamond.label",
              "group": "Wide"
            },
            {
              "value": "rounded_diamond_wide",
              "label": "t:common.options.rounded_diamond.label",
              "group": "Wide"
            },
            {
              "value": "triangle_wide",
              "label": "t:common.options.triangle.label",
              "group": "Wide"
            },
            {
              "value": "hexagon_wide",
              "label": "t:common.options.hexagon.label",
              "group": "Wide"
            },
            {
              "value": "rounded_hexagon",
              "label": "t:common.options.rounded_hexagon.label",
              "group": "Wide"
            },
            {
              "value": "uneven_star_wide",
              "label": "t:common.options.uneven_star.label",
              "group": "Wide"
            },
            {
              "value": "star_wide",
              "label": "t:common.options.star.label",
              "group": "Wide"
            },
            {
              "value": "semicircle",
              "label": "t:common.options.semicircle.label",
              "group": "Wide"
            },
            {
              "value": "eye",
              "label": "t:common.options.eye.label",
              "group": "Wide"
            },
            {
              "value": "parallelogram_wide",
              "label": "t:common.options.parallelogram.label",
              "group": "Wide"
            },
            {
              "value": "ribbon",
              "label": "t:common.options.ribbon.label",
              "group": "Wide"
            },
            {
              "value": "ticket_stub",
              "label": "t:common.options.ticket_stub.label",
              "group": "Wide"
            },
            {
              "value": "wave_ribbon",
              "label": "t:common.options.wave_ribbon.label",
              "group": "Wide"
            },
            {
              "value": "zig_zag_ribbon",
              "label": "t:common.options.zig_zag_ribbon.label",
              "group": "Wide"
            }
          ],
          "default": "star_1"
        },
        {
          "type": "range",
          "id": "width",
          "min": 100,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "t:common.blocks.sticker.settings.width.label",
          "default": 150
        },
        {
          "type": "select",
          "id": "sticker_font_size",
          "label": "t:common.settings.sticker_font_size.label",
          "options": [
            {
              "value": "1rem",
              "label": "t:common.options.extra_small.label"
            },
            {
              "value": "1.25rem",
              "label": "t:common.options.small.label"
            },
            {
              "value": "1.563rem",
              "label": "t:common.options.medium.label"
            },
            {
              "value": "1.953rem",
              "label": "t:common.options.large.label"
            },
            {
              "value": "2.441rem",
              "label": "t:common.options.extra_large.label"
            }
          ],
          "default": "1.563rem",
          "info": "t:common.settings.sticker_font_size.info"
        },
        {
          "type": "header",
          "content": "t:common.settings.header_custom_image"
        },
        {
          "type": "paragraph",
          "content": "t:common.blocks.sticker.settings.paragraph_using_an_image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "half_image_width_on_mobile",
          "label": "t:common.blocks.sticker.settings.half_image_width_on_mobile.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:common.settings.header_position"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.sticker.settings.horizontal_position.label",
          "default": 80
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.sticker.settings.vertical_position.label",
          "default": 80
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "t:common.settings.rotate.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:common.settings.header_layout"
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_mobile",
          "label": "t:common.blocks.sticker.settings.show_sticker_on_mobile.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_desktop",
          "label": "t:common.blocks.sticker.settings.show_sticker_on_desktop.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "select",
          "id": "rotation_animation",
          "label": "t:common.blocks.sticker.settings.rotation_animation.label",
          "options": [
            {
              "value": "none",
              "label": "t:common.blocks.sticker.settings.rotation_animation.options.no_rotation.label"
            },
            {
              "value": "constantly_rotate",
              "label": "t:common.blocks.sticker.settings.rotation_animation.options.constantly_rotate.label"
            },
            {
              "value": "rotate_when_scrolling",
              "label": "t:common.blocks.sticker.settings.rotation_animation.options.rotate_only_when_page_is_scrolling.label"
            }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "t:common.blocks.sticker.settings.enable_parallax.label",
          "default": false,
          "info": "t:common.blocks.sticker.settings.enable_parallax.info"
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.settings.parallax_speed.label",
          "default": 3
        },
        {
          "type": "header",
          "content": "t:common.settings.header_color"
        },
        {
          "type": "select",
          "id": "color",
          "label": "t:common.settings.color.label",
          "default": "bg-scheme-accent-1 text-scheme-accent-1-overlay",
          "options": [
            {
              "value": "bg-scheme-text text-scheme-text-overlay",
              "label": "t:common.options.text.label"
            },
            {
              "value": "bg-scheme-accent-1 text-scheme-accent-1-overlay",
              "label": "t:common.options.accent_1.label"
            },
            {
              "value": "bg-scheme-accent-2 text-scheme-accent-2-overlay",
              "label": "t:common.options.accent_2.label"
            },
            {
              "value": "bg-scheme-card text-scheme-text",
              "label": "t:common.options.card.label"
            },
            {
              "value": "bg-scheme-background text-scheme-text",
              "label": "t:common.options.background.label"
            },
            {
              "value": "bg-scheme-gradient text-scheme-text",
              "label": "t:common.options.gradient.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:common.settings.color_scheme.label",
          "default": "same_as_section",
          "options": [
            {
              "value": "same_as_section",
              "label": "t:common.options.same_as_section.label"
            },
            {
              "value": "primary",
              "label": "t:common.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.options.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.options.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.options.quaternary.label"
            }
          ]
        }
      ]
    },
    {
      "name": "t:common.blocks.shape_divider.name",
      "type": "shape_divider",
      "limit": 2,
      "settings": [
        {
          "type": "radio",
          "label": "t:common.blocks.shape_divider.settings.target_section.label",
          "id": "target_section",
          "default": "above",
          "options": [
            {
              "value": "above",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_above.label"
            },
            {
              "value": "below",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_below.label"
            }
          ],
          "info": "t:common.blocks.shape_divider.settings.target_section.info"
        },
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.target_section_color_scheme.label",
          "id": "target_section_color_scheme",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "t:common.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.options.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.options.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.options.quaternary.label"
            }
          ],
          "info": "t:common.blocks.shape_divider.settings.target_section_color_scheme.info"
        },
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.style.label",
          "id": "style",
          "default": "large-waves_1200x84",
          "options": [
            {
              "value": "large-waves_1200x84",
              "label": "t:common.blocks.shape_divider.settings.style.options.large_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "medium-waves_1200x43",
              "label": "t:common.blocks.shape_divider.settings.style.options.medium_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "small-waves_1200x20",
              "label": "t:common.blocks.shape_divider.settings.style.options.small_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "large-zig-zag_1200x65",
              "label": "t:common.blocks.shape_divider.settings.style.options.large_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "medium-zig-zag_1200x37",
              "label": "t:common.blocks.shape_divider.settings.style.options.medium_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "small-zig-zag_1200x21",
              "label": "t:common.blocks.shape_divider.settings.style.options.small_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "waves-1-asymmetrical_1440x261",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "waves-2-asymmetrical_1440x330",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_2.label",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-1-asymmetrical_1440x101",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-2-asymmetrical_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_2.label",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-1-asymmetrical_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-2-asymmetrical_1440x325",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_2.label",
              "group": "Asymmetrical"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_horizontal",
          "label": "t:common.blocks.shape_divider.settings.flip_horizontal.label"
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_animation",
          "label": "t:common.blocks.shape_divider.settings.enable_animation.label",
          "info": "t:common.blocks.shape_divider.settings.enable_animation.info"
        },
        {
          "type": "radio",
          "id": "animation_direction",
          "label": "t:common.blocks.shape_divider.settings.animation_direction.label",
          "options": [
            {
              "value": "",
              "label": "t:common.options.right_to_left.label"
            },
            {
              "value": "reverse",
              "label": "t:common.options.left_to_right.label"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog_posts.name",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
