
{%- unless section.settings.home_page_only and template != 'index' -%}
  {%- render 'static-sticker-defs' with shape: section.settings.shape, id: section.id -%}
  {% unless request.design_mode %}
    {%- if section.settings.animate_in -%}
    <script src="{{ 'call-to-action-sticker.js' | asset_url }}" type="module"></script>
    {%- endif -%}
  {% endunless %}

  <div
    {% if section.settings.animate_in %}
    x-data="CallToActionSticker()"
    x-init="mounted()"
    x-cloak
    :class="show ? '' : 'translate-y-full'"
    {% endif %}
    class="z-30 origin-top-left transition-transform ease-in-out duration-500 fixed p-5 lg:p-10 {% unless section.settings.show_sticker_on_mobile %}hidden lg:block{% endunless %}" id="sticker-{{ section.id }}" data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}">
    {% if section.settings.url != blank %}
    <a href="{{ section.settings.url }}" class="block transition-transform ease-in-out duration-200 hover:scale-110">
    {% endif %}

    <div class="sticker-rotate-container">
    {%- if section.settings.image != blank -%}
      <div class="sticker-image rotate-anim">
      {{ section.settings.image | image_url: width: 2000 | image_tag: class: 'max-w-none' }}
      </div>
    {%- else -%}
    {%- if section.settings.shape == 'fit_to_text' -%}
      <div class="sticker-default {{ section.settings.color }} whitespace-nowrap">
        {{ section.settings.text }}
      </div>
      {%- else -%}
      <div class="sticker-container relative rotate-anim">
        <svg class="sticker-svg relative max-w-none" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <foreignObject clip-path="url(#clip-{{ section.id }})" width="100%" height="100%">
            <div id="sticker-foreignObject-{{ section.id }}" class="aspect-w-1 aspect-h-1 p-4 break-words sticker-text top-0 left-0 right-0 bottom-0 w-full h-full flex items-center justify-center text-center leading-none {{ section.settings.color }}">
              {{ section.settings.text | newline_to_br }}
            </div>
          </foreignObject>
          <use style="fill: none;" href="#outline-{{ section.id }}" />
        </svg>
        {%- if settings.sticker_drop_shadow_size > 0 -%}
        <svg class="sticker-svg sticker-drop-shadow relative max-w-none" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use class="sticker-drop-shadow-path"  href="#outline-{{ section.id }}" />
        </svg>
        {%- endif -%}
      </div>
      {%- endif -%}
    {%- endif -%}
    </div>

    {% if section.settings.url != blank %}
    </a>
    {% endif %}
  </div>
{%- endunless -%}

{% style %}
  #sticker-{{ section.id }} {
    {{ section.settings.sticker_position }}: 0;
    bottom: 0;
  }

  #sticker-{{ section.id }} .sticker-rotate-container {
    transform: rotate({{ section.settings.rotate }}deg);
  }

  #sticker-{{ section.id }} img,
  #sticker-{{ section.id }} svg {
    width: {{ section.settings.width }}px;
  }

  #sticker-foreignObject-{{ section.id }},
  #sticker-{{ section.id }} .sticker-default  {
    font-size: {{ section.settings.sticker_font_size }};
  }

  {% if section.settings.animate_rotation %}
    @media (prefers-reduced-motion: no-preference) {
      #sticker-{{ section.id }} .rotate-anim {
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        animation-name:rotate;
        animation-duration:5s;
      }
    }
  {% endif %}
{% endstyle %}

{% schema %}
{
  "name": "t:sections.call_to_action_sticker.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "t:common.settings.home_page_only.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "animate_in",
      "label": "t:sections.call_to_action_sticker.settings.animate_in.label",
      "default": true
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "t:sections.call_to_action_sticker.settings.text.label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "url",
      "label": "t:common.settings.url.label"
    },
    {
      "type": "select",
      "id": "shape",
      "label": "t:sections.call_to_action_sticker.settings.shape.label",
      "options": [
        {
          "value": "circle",
          "label": "t:common.options.circle.label",
          "group": "Circular"
        },
        {
          "value": "star_1",
          "label": "t:common.options.star_1.label",
          "group": "Circular"
        },
        {
          "value": "star_2",
          "label": "t:common.options.star_2.label",
          "group": "Circular"
        },
        {
          "value": "star_3",
          "label": "t:common.options.star_3.label",
          "group": "Circular"
        },
        {
          "value": "star_4",
          "label": "t:common.options.star_4.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_1",
          "label": "t:common.options.scalloped_circle_1.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_2",
          "label": "t:common.options.scalloped_circle_2.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_3",
          "label": "t:common.options.scalloped_circle_3.label",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_4",
          "label": "t:common.options.scalloped_circle_4.label",
          "group": "Circular"
        },
        {
          "value": "parallelogram",
          "label": "t:common.options.parallelogram.label",
          "group": "Square"
        },
        {
          "value": "scalloped_square",
          "label": "t:common.options.scalloped.label",
          "group": "Square"
        },
        {
          "value": "leaf",
          "label": "t:common.options.leaf.label",
          "group": "Square"
        },
        {
          "value": "clipped_square",
          "label": "t:common.options.clipped.label",
          "group": "Square"
        },
        {
          "value": "convex_square",
          "label": "t:common.options.convex.label",
          "group": "Square"
        },
        {
          "value": "twisted_square",
          "label": "t:common.options.twisted.label",
          "group": "Square"
        },
        {
          "value": "trapeze",
          "label": "t:common.options.trapeze.label",
          "group": "Square"
        },
        {
          "value": "ellipse",
          "label": "t:common.options.ellipse.label",
          "group": "Wide"
        },
        {
          "value": "diamond_wide",
          "label": "t:common.options.diamond.label",
          "group": "Wide"
        },
        {
          "value": "rounded_diamond_wide",
          "label": "t:common.options.rounded_diamond.label",
          "group": "Wide"
        },
        {
          "value": "triangle_wide",
          "label": "t:common.options.triangle.label",
          "group": "Wide"
        },
        {
          "value": "hexagon_wide",
          "label": "t:common.options.hexagon.label",
          "group": "Wide"
        },
        {
          "value": "rounded_hexagon",
          "label": "t:common.options.rounded_hexagon.label",
          "group": "Wide"
        },
        {
          "value": "uneven_star_wide",
          "label": "t:common.options.uneven_star.label",
          "group": "Wide"
        },
        {
          "value": "star_wide",
          "label": "t:common.options.star.label",
          "group": "Wide"
        },
        {
          "value": "semicircle",
          "label": "t:common.options.semicircle.label",
          "group": "Wide"
        },
        {
          "value": "eye",
          "label": "t:common.options.eye.label",
          "group": "Wide"
        },
        {
          "value": "parallelogram_wide",
          "label": "t:common.options.parallelogram.label",
          "group": "Wide"
        },
        {
          "value": "ribbon",
          "label": "t:common.options.ribbon.label",
          "group": "Wide"
        },
        {
          "value": "ticket_stub",
          "label": "t:common.options.ticket_stub.label",
          "group": "Wide"
        },
        {
          "value": "wave_ribbon",
          "label": "t:common.options.wave_ribbon.label",
          "group": "Wide"
        },
        {
          "value": "zig_zag_ribbon",
          "label": "t:common.options.zig_zag_ribbon.label",
          "group": "Wide"
        }
      ],
      "default": "star_1"
    },
    {
      "type": "range",
      "id": "width",
      "min": 100,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:sections.call_to_action_sticker.settings.width.label",
      "default": 150
    },
    {
      "type": "radio",
      "id": "sticker_position",
      "label": "t:sections.call_to_action_sticker.settings.sticker_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:common.options.left.label"
        },
        {
          "value": "right",
          "label": "t:common.options.right.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "sticker_font_size",
      "label": "t:common.settings.sticker_font_size.label",
      "options": [
        {
          "value": "1rem",
          "label": "t:common.options.extra_small.label"
        },
        {
          "value": "1.25rem",
          "label": "t:common.options.small.label"
        },
        {
          "value": "1.563rem",
          "label": "t:common.options.medium.label"
        },
        {
          "value": "1.953rem",
          "label": "t:common.options.large.label"
        },
        {
          "value": "2.441rem",
          "label": "t:common.options.extra_large.label"
        }
      ],
      "default": "1.563rem",
      "info": "t:common.settings.sticker_font_size.info"
    },
    {
      "type": "header",
      "content": "t:common.settings.header_custom_image"
    },
    {
      "type": "paragraph",
      "content": "t:sections.call_to_action_sticker.settings.paragraph_use_a_custom"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:common.settings.header_position"
    },
    {
      "type": "range",
      "id": "rotate",
      "min": -90,
      "max": 90,
      "step": 2,
      "unit": "deg",
      "label": "t:common.settings.rotate.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "animate_rotation",
      "label": "t:sections.call_to_action_sticker.settings.animate_rotation.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.call_to_action_sticker.settings.header_mobile"
    },
    {
      "type": "checkbox",
      "id": "show_sticker_on_mobile",
      "label": "t:sections.call_to_action_sticker.settings.show_sticker_on_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:common.settings.header_color"
    },
    {
      "type": "select",
      "id": "color",
      "label": "t:common.settings.color.label",
      "default": "bg-scheme-accent-1 text-scheme-accent-1-overlay",
      "options": [
        {
          "value": "bg-scheme-text text-scheme-text-overlay",
          "label": "t:common.options.text.label"
        },
        {
          "value": "bg-scheme-accent-1 text-scheme-accent-1-overlay",
          "label": "t:common.options.accent_1.label"
        },
        {
          "value": "bg-scheme-accent-2 text-scheme-accent-2-overlay",
          "label": "t:common.options.accent_2.label"
        },
        {
          "value": "bg-scheme-card text-scheme-text",
          "label": "t:common.options.card.label"
        },
        {
          "value": "bg-scheme-background text-scheme-text",
          "label": "t:common.options.background.label"
        },
        {
          "value": "bg-scheme-gradient text-scheme-text",
          "label": "t:common.options.gradient.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:common.settings.color_scheme.label",
      "options": [
        {
          "value": "primary",
          "label": "t:common.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.options.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.options.quaternary.label"
        }
      ]
    }
  ]
}
{% endschema %}
