
{%- liquid
  assign crop = section.settings.crop
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by

  assign enable_filtering = section.settings.enable_filtering
  assign enable_sorting = section.settings.enable_sorting

  if search.filters != empty
    if enable_filtering == true
      assign show_filters = true
    endif
  endif

  assign mobile_grid_cols = section.settings.resultss_per_row_mobile
  case section.settings.results_per_row_desktop
    when 2
      assign desktop_grid_cols = 'lg:grid-cols-2'
    when 3
      assign desktop_grid_cols = 'lg:grid-cols-3'
    when 4
      assign desktop_grid_cols = 'lg:grid-cols-4'
    when 5
      assign desktop_grid_cols = 'lg:grid-cols-5'
  endcase
-%}
<section class="text-scheme-text bg-scheme-background relative overflow-hidden {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %} " data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}"
x-data="ThemeSection_filterable('{{ section.id }}')">
  {% if enable_filtering == false and enable_sorting == true %}
    <form id="Facet-Filters-Form" @submit.prevent="filterFormSubmit" class="hidden">
      <input type="hidden" name="q" value="{{ search.terms | escape }}">
      <input name="options[prefix]" type="hidden" value="last">
    </form>
  {% endif %}
  <div class="section-content py-section-vertical-spacing px-section">

    <h1 class="text-center font-heading  heading-feature heading-style {{ settings.heading_drop_shadow_style }}">
      {% if search.performed %}
        <span class="visually-hidden">{{ 'general.search.title_with_results' | t }}:</span>
          {{ 'general.search.title_with_results' | t }}
      {% else %}
        {{ 'general.search.title' | t }}
      {% endif %}
    </h1>

    <form class="relative mt-10 max-w-2xl mx-auto block" action="/search" method="get" role="search">
      <label for="Search-{{ section.id }}" class="visually-hidden">
        {{ 'general.search.placeholder' | t }}
      </label>
      <input type="search"
            name="q"
            id="Search-{{ section.id }}"
            class="pr-12 placeholder-current input w-full"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.placeholder' | t }}">
      <button class="absolute right-2 top-1/2 transform -translate-y-1/2 p-1" type="submit" class="button">
        <span class="inline-block w-5 h-5">{% render 'icon-search' %}</span>
        <span class="visually-hidden">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>

    <div id="facets-filterable">
      {% if show_filters or enable_sorting %}
        <div class="hidden" id="facets-results-count">
          {%- if search.results_count -%}
            {{ 'general.search.results_with_count' | t: terms: search.results.terms, count: search.results.results_count }}
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- if search.performed -%}
        <div class="text-center mt-10">
        {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
          {%- if search.results_count > 0 -%}
            <p role="status">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</p>
          {%- endif -%}
        {%- endunless -%}
        {%- if section.settings.enable_filtering and search.filters == empty -%}
          <p role="status">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</p>
        {%- endif -%}
        {%- if search.results_count == 0 and search.filters == empty -%}
          <p role="status">{{ 'general.search.no_results' | t: terms: search.terms }}</p>
        {%- endif -%}
        </div>
        {%- if search.filters != empty -%}
          {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
            <div class="pb-5 lg:pb-10 flex justify-between items-center gap-5">
              {%- if section.settings.enable_filtering -%}
                {%- liquid
                  assign total_active_values = 0
                  for filter in search.filters
                    assign total_active_values = total_active_values | plus: filter.active_values.size
                    if filter.type == 'price_range'
                      if filter.max_value.value or filter.min_value.value
                        assign total_active_values = total_active_values | plus: 1
                      endif
                    endif
                  endfor
                -%}
                <button role="button"
                  class="push-btn"
                  @click="$store.modals.open('filters')">
                  <span class="push-btn-surface push-btn-surface--secondary">{{ 'facets.filters.title_tags' | t }} {% if total_active_values > 0 %}({{ total_active_values }}){% endif %}</span>
                </button>
                <div>
                  {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
                </div>
              {%- endif -%}
              {%- if section.settings.enable_sorting -%}
                <button role="button"
                  class="push-btn"
                  @click="$store.modals.open('sort')">
                  <span class="push-btn-surface push-btn-surface--secondary">{{ 'facets.sorting.title' | t }}</span>
                </button>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endif -%}
        <div id="facets-results">
          {%- if search.results.size == 0 and search.filters != empty -%}
            {{ 'general.search.no_results' | t: terms: search.terms }}
            {% if search.filters != empty and section.settings.enable_filtering %}
              {{ 'facets.filters.use_fewer_filters_html' | t: link: search_url, class: 'underline' }}.
            {% endif %}
          {%- else -%}
            {% paginate search.results by 24 %}
              <div class="mt-5 lg:mt-10" id="results-grid" data-id="{{ section.id }}">
                <ul class="grid gap-theme {% if mobile_grid_cols == '2' %}grid-cols-2{% else %}grid-cols-1{% endif %} {{ desktop_grid_cols }}">
                  {%- for item in search.results -%}
                    <li class="grid__item {% if section.settings.display_on_card %}text-scheme-text card-container{% endif %}">
                      <div class="relative text-center {% if section.settings.display_on_card %}card p-5 h-full{% endif %}">
                      {%- case item.object_type -%}
                        {%- when 'product' -%}
                            {%- if item.featured_media -%}
                            <div class="relative {% unless section.settings.display_on_card %}{% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}{% endunless %}">
                              {%- render 'product-tile-media-image',
                                  media: item.featured_media,
                                  shape: '',
                                  is_card: section.settings.display_on_card,
                                  crop: crop,
                                  hover_image: false,
                                  container_id: section.id,
                                  quick_buy: false,
                                  product: product,
                                  index: forloop.index
                              -%}
                            </div>
                            {%- endif -%}
                            <div class="mt-5 text-center">
                              <a href="{{ item.url | within: collection }}" class="absolute top-0 left-0 w-full h-full z-10 block">
                                <span class="visually-hidden">{{ item.title }}</span>
                              </a>
                              <h3 class="font-body text-base">{{ item.title | escape }}</h3>
                              {%- if settings.product_tiles_show_vendor -%}
                                <p class="mt-1">{{ item.vendor }}</p>
                              {%- endif -%}
                              {%- liquid
                                assign target = item
                                assign compare_at_price = target.compare_at_price
                                assign price = target.price | default: 1999
                                if compare_at_price > price
                                  assign on_sale = true
                                else
                                  assign on_sale = false
                                endif

                                assign money_price = price | money
                                if settings.currency_code_enabled
                                  assign money_price = price | money_with_currency
                                endif

                                if target == product and product.price_varies
                                  assign money_price = money_price | append: '+'
                                endif
                              -%}
                              {%- render 'price',
                                product: item,
                                price_class: 'mt-1.5',
                                compare_at_price: compare_at_price,
                                price: price,
                                money_price: money_price,
                                on_sale: on_sale
                              -%}
                            </div>
                        {%- when 'article' -%}
                          {%- if item.image -%}
                            <div class="mb-5 {% unless section.settings.display_on_card %}{% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}{% endunless %}">
                              {%- render 'media-image',
                                  media: item.image,
                                  shape: '',
                                  is_card: section.settings.display_on_card,
                                  crop: crop,
                                  container_id: section.id,
                                  index: forloop.index0
                              -%}
                            </div>
                            <h3 class="font-heading heading-secondary">
                              <a href="{{ item.url }}">
                              {{ item.title }}
                              <span class="absolute top-0 left-0 w-full h-full z-10 block"></span>
                              </a>
                            </h3>
                            <time class="font-body text-base mt-2.5 block" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
                          {%- endif -%}
                        {%- when 'page' -%}
                          <div class="aspect-w-1 aspect-h-1 flex items-center justify-center">
                            <h3 class="font-heading text-lg">
                              <a href="{{ item.url }}">
                              {{ item.title }}
                              <span class="absolute top-0 left-0 w-full h-full z-10 block"></span>
                              </a>
                            </h3>
                          </div>
                      {%- endcase -%}
                      </div>
                      {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
                    </li>
                  {%- endfor -%}
                </ul>
                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate %}
                {%- endif -%}
              </div>
            {% endpaginate %}
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- liquid
          if section.settings.enable_filtering or section.settings.enable_sorting
            render 'filters', results: search, enable_color_swatch_filters: section.settings.enable_color_swatch_filters, expand_filters: section.settings.expand_filters, show_filter_count: section.settings.show_filter_count
          endif
          if section.settings.enable_sorting
            render 'sort' with results: search, sort_by: sort_by
          endif
        -%}
    </div>
  </div>



  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
        when 'background_pattern'
          render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
      endcase
    endfor
  -%}
</section>

{%- liquid
  assign stickers = section.blocks | where: "type", "sticker"
  assign shape_dividers = section.blocks | where: "type", "shape_divider"
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
  for shape_divider in shape_dividers
    render 'block-shape-divider' with block: shape_divider, section: section
  endfor
-%}

{%- unless request.design_mode -%}
<script src="{{ 'filterable.js' | asset_url }}" type="module"></script>
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.search.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_on_card",
      "label": "t:sections.search.settings.display_on_card.label",
      "default": true
    },
    {
      "type": "select",
      "id": "crop",
      "label": "t:sections.search.settings.crop.label",
      "options": [
        {
          "value": "",
          "label": "t:common.options.no_crop.label"
        },
        {
          "value": "aspect-w-4 aspect-h-3",
          "label": "t:common.options.landscape.label"
        },
        {
          "value": "aspect-w-1 aspect-h-1",
          "label": "t:common.options.square.label"
        },
        {
          "value": "aspect-w-3 aspect-h-4",
          "label": "t:common.options.portrait.label"
        }
      ],
      "default": "aspect-w-1 aspect-h-1"
    },
    {
      "type": "radio",
      "id": "results_per_row_mobile",
      "label": "t:sections.search.settings.results_per_row_mobile.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:common.options.1.label"
        },
        {
          "value": "2",
          "label": "t:common.options.2.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "results_per_row_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "t:sections.search.settings.results_per_row_desktop.label",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:common.settings.header_filtering_and_sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "t:common.settings.enable_filtering.label",
      "info": "t:common.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "t:common.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "expand_filters",
      "label": "t:common.settings.expand_filters.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filter_count",
      "label": "t:common.settings.show_filter_count.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_color_swatch_filters",
      "label": "t:common.settings.enable_color_swatch_filters.label",
      "info": "t:common.settings.enable_color_swatch_filters.info"
    },
    {
      "type": "header",
      "content": "t:common.settings.header_color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:common.settings.color_scheme.label",
      "options": [
        {
          "value": "primary",
          "label": "t:common.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.options.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.options.quaternary.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "t:common.settings.use_gradient_background.label"
    }
  ],
  "blocks": [
    {
      "type": "background_pattern",
      "name": "t:common.blocks.background_pattern.name",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "t:common.blocks.background_pattern.settings.type.label",
          "options": [
            {
              "value": "diagonal_lines",
              "label": "t:common.options.diagonal_lines.label",
              "group": "Lines"
            },
            {
              "value": "grid",
              "label": "t:common.options.grid_lines.label",
              "group": "Lines"
            },
            {
              "value": "grid_with_diagonal_lines",
              "label": "t:common.options.grid_with_diagonal_lines.label",
              "group": "Lines"
            },
            {
              "value": "crosshatch",
              "label": "t:common.options.crosshatch.label",
              "group": "Lines"
            },
            {
              "value": "checkerboard",
              "label": "t:common.options.checkerboard.label",
              "group": "Lines"
            },
            {
              "value": "zig_zag",
              "label": "t:common.options.zig_zag.label",
              "group": "Lines"
            },
            {
              "value": "waves",
              "label": "t:common.options.waves.label",
              "group": "Lines"
            },
            {
              "value": "half_square_triangle",
              "label": "t:common.options.half-square_triangle.label",
              "group": "Shapes"
            },
            {
              "value": "dots",
              "label": "t:common.options.dots.label",
              "group": "Shapes"
            },
            {
              "value": "triangle",
              "label": "t:common.options.triangles.label",
              "group": "Shapes"
            },
            {
              "value": "polka_dot",
              "label": "t:common.options.polka_dot.label",
              "group": "Shapes"
            },
            {
              "value": "polka_dot_triangles",
              "label": "t:common.options.polka_dot_triangles.label",
              "group": "Shapes"
            },
            {
              "value": "plus",
              "label": "t:common.options.plus.label",
              "group": "Shapes"
            },
            {
              "value": "cross",
              "label": "t:common.options.cross.label",
              "group": "Shapes"
            },
            {
              "value": "squares",
              "label": "t:common.options.squares.label",
              "group": "Shapes"
            },
            {
              "value": "diamonds",
              "label": "t:common.options.diamonds.label",
              "group": "Shapes"
            },
            {
              "value": "vertical_stripes",
              "label": "t:common.options.vertical_stripes.label",
              "group": "Stripes"
            },
            {
              "value": "horizontal_stripes",
              "label": "t:common.blocks.background_pattern.settings.type.options.horizontal_stripes.label",
              "group": "Stripes"
            },
            {
              "value": "diagonal_stripes",
              "label": "t:common.options.diagonal_stripes.label",
              "group": "Stripes"
            },
            {
              "value": "sprinkles",
              "label": "t:common.blocks.background_pattern.settings.type.options.sprinkles.label",
              "group": "Miscellaneous"
            },
            {
              "value": "bubbles",
              "label": "t:common.blocks.background_pattern.settings.type.options.bubbles.label",
              "group": "Miscellaneous"
            },
            {
              "value": "squiggle",
              "label": "t:common.options.squiggle.label",
              "group": "Miscellaneous"
            },
            {
              "value": "windmill",
              "label": "t:common.options.windmill.label",
              "group": "Miscellaneous"
            },
            {
              "value": "8bit",
              "label": "t:common.options.8bit.label",
              "group": "Miscellaneous"
            },
            {
              "value": "origami",
              "label": "t:common.options.origami.label",
              "group": "Miscellaneous"
            },
            {
              "value": "3d_cube",
              "label": "t:common.blocks.background_pattern.settings.type.options.3d_cube.label",
              "group": "Miscellaneous"
            }
          ]
        },
        {
          "type": "select",
          "id": "color",
          "label": "t:common.blocks.background_pattern.settings.color.label",
          "default": "text",
          "options": [
            {
              "value": "text",
              "label": "t:common.options.text.label"
            },
            {
              "value": "accent-1",
              "label": "t:common.options.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:common.options.accent_2.label"
            },
            {
              "value": "card",
              "label": "t:common.options.card.label"
            },
            {
              "value": "background",
              "label": "t:common.options.background.label"
            },
            {
              "value": "gradient",
              "label": "t:common.options.gradient.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "size",
          "min": 6,
          "max": 600,
          "unit": "px",
          "label": "t:common.blocks.background_pattern.settings.size.label",
          "step": 6,
          "default": 24
        },
        {
          "type": "range",
          "id": "opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.settings.opacity.label",
          "default": 100
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "t:common.blocks.background_pattern.settings.enable_parallax.label",
          "default": false,
          "info": "t:common.blocks.background_pattern.settings.enable_parallax.info"
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.settings.parallax_speed.label",
          "default": 3
        }
      ]
    },
    {
      "type": "background_shape",
      "name": "t:common.blocks.background_shape.name",
      "settings": [
        {
          "type": "select",
          "id": "shape",
          "label": "t:common.blocks.background_shape.settings.shape.label",
          "default": "square",
          "options": [
            {
              "value": "square",
              "label": "t:common.blocks.background_shape.settings.shape.options.square.label",
              "group": "Basic"
            },
            {
              "value": "circle",
              "label": "t:common.blocks.background_shape.settings.shape.options.circle.label",
              "group": "Basic"
            },
            {
              "value": "oval",
              "label": "t:common.blocks.background_shape.settings.shape.options.oval.label",
              "group": "Basic"
            },
            {
              "value": "triangle",
              "label": "t:common.blocks.background_shape.settings.shape.options.triangle.label",
              "group": "Basic"
            },
            {
              "value": "parallelogram",
              "label": "t:common.blocks.background_shape.settings.shape.options.parallelogram.label",
              "group": "Basic"
            },
            {
              "value": "pentagon",
              "label": "t:common.options.pentagon.label",
              "group": "Polygons"
            },
            {
              "value": "hexagon",
              "label": "t:common.options.hexagon.label",
              "group": "Polygons"
            },
            {
              "value": "heptagon",
              "label": "t:common.options.heptagon.label",
              "group": "Polygons"
            },
            {
              "value": "octagon",
              "label": "t:common.options.octagon.label",
              "group": "Polygons"
            },
            {
              "value": "star_1",
              "label": "t:common.options.star_1.label",
              "group": "Circular"
            },
            {
              "value": "star_2",
              "label": "t:common.options.star_2.label",
              "group": "Circular"
            },
            {
              "value": "star_3",
              "label": "t:common.options.star_3.label",
              "group": "Circular"
            },
            {
              "value": "star_4",
              "label": "t:common.options.star_4.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_1",
              "label": "t:common.options.scalloped_circle_1.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_2",
              "label": "t:common.options.scalloped_circle_2.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_3",
              "label": "t:common.options.scalloped_circle_3.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_4",
              "label": "t:common.options.scalloped_circle_4.label",
              "group": "Circular"
            },
            {
              "value": "blob",
              "label": "t:common.options.blob.label",
              "group": "Miscellaneous"
            }
          ]
        },
        {
          "type": "range",
          "id": "blob_type",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.blocks.background_shape.settings.blob_type.label",
          "default": 1,
          "info": "t:common.blocks.background_shape.settings.blob_type.info"
        },
        {
          "type": "range",
          "id": "size",
          "min": 25,
          "max": 300,
          "step": 5,
          "label": "t:common.blocks.background_shape.settings.size.label",
          "default": 100
        },
        {
          "type": "range",
          "id": "opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.settings.opacity.label",
          "default": 100
        },
        {
          "type": "range",
          "id": "blur",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "t:common.blocks.background_shape.settings.blur.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:common.settings.header_position"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.background_shape.settings.horizontal_position.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.background_shape.settings.vertical_position.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "t:common.settings.rotate.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "t:common.blocks.background_shape.settings.enable_parallax.label",
          "default": false,
          "info": "t:common.blocks.background_shape.settings.enable_parallax.info"
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.settings.parallax_speed.label",
          "default": 3
        },
        {
          "type": "header",
          "content": "t:common.settings.header_color"
        },
        {
          "type": "select",
          "id": "color",
          "label": "t:common.blocks.background_shape.settings.color.label",
          "default": "accent-1",
          "options": [
            {
              "value": "text",
              "label": "t:common.options.text.label"
            },
            {
              "value": "accent-1",
              "label": "t:common.options.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:common.options.accent_2.label"
            },
            {
              "value": "card",
              "label": "t:common.options.card.label"
            },
            {
              "value": "background",
              "label": "t:common.options.background.label"
            },
            {
              "value": "gradient",
              "label": "t:common.options.gradient.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:common.settings.color_scheme.label",
          "default": "same_as_section",
          "options": [
            {
              "value": "same_as_section",
              "label": "t:common.options.same_as_section.label"
            },
            {
              "value": "primary",
              "label": "t:common.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.options.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.options.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.options.quaternary.label"
            }
          ]
        }
      ]
    },
    {
      "name": "t:common.blocks.sticker.name",
      "type": "sticker",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "t:common.blocks.sticker.settings.text.label",
          "default": "Sticker"
        },
        {
          "type": "select",
          "id": "shape",
          "label": "t:common.blocks.sticker.settings.shape.label",
          "options": [
            {
              "value": "fit_to_text",
              "label": "t:common.blocks.sticker.settings.shape.options.fit_to_text.label"
            },
            {
              "value": "circle",
              "label": "t:common.options.circle.label",
              "group": "Circular"
            },
            {
              "value": "star_1",
              "label": "t:common.options.star_1.label",
              "group": "Circular"
            },
            {
              "value": "star_2",
              "label": "t:common.options.star_2.label",
              "group": "Circular"
            },
            {
              "value": "star_3",
              "label": "t:common.options.star_3.label",
              "group": "Circular"
            },
            {
              "value": "star_4",
              "label": "t:common.options.star_4.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_1",
              "label": "t:common.options.scalloped_circle_1.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_2",
              "label": "t:common.options.scalloped_circle_2.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_3",
              "label": "t:common.options.scalloped_circle_3.label",
              "group": "Circular"
            },
            {
              "value": "scalloped_circle_4",
              "label": "t:common.options.scalloped_circle_4.label",
              "group": "Circular"
            },
            {
              "value": "parallelogram",
              "label": "t:common.options.parallelogram.label",
              "group": "Square"
            },
            {
              "value": "scalloped_square",
              "label": "t:common.options.scalloped.label",
              "group": "Square"
            },
            {
              "value": "leaf",
              "label": "t:common.options.leaf.label",
              "group": "Square"
            },
            {
              "value": "clipped_square",
              "label": "t:common.options.clipped.label",
              "group": "Square"
            },
            {
              "value": "convex_square",
              "label": "t:common.options.convex.label",
              "group": "Square"
            },
            {
              "value": "twisted_square",
              "label": "t:common.options.twisted.label",
              "group": "Square"
            },
            {
              "value": "trapeze",
              "label": "t:common.options.trapeze.label",
              "group": "Square"
            },
            {
              "value": "ellipse",
              "label": "t:common.options.ellipse.label",
              "group": "Wide"
            },
            {
              "value": "diamond_wide",
              "label": "t:common.options.diamond.label",
              "group": "Wide"
            },
            {
              "value": "rounded_diamond_wide",
              "label": "t:common.options.rounded_diamond.label",
              "group": "Wide"
            },
            {
              "value": "triangle_wide",
              "label": "t:common.options.triangle.label",
              "group": "Wide"
            },
            {
              "value": "hexagon_wide",
              "label": "t:common.options.hexagon.label",
              "group": "Wide"
            },
            {
              "value": "rounded_hexagon",
              "label": "t:common.options.rounded_hexagon.label",
              "group": "Wide"
            },
            {
              "value": "uneven_star_wide",
              "label": "t:common.options.uneven_star.label",
              "group": "Wide"
            },
            {
              "value": "star_wide",
              "label": "t:common.options.star.label",
              "group": "Wide"
            },
            {
              "value": "semicircle",
              "label": "t:common.options.semicircle.label",
              "group": "Wide"
            },
            {
              "value": "eye",
              "label": "t:common.options.eye.label",
              "group": "Wide"
            },
            {
              "value": "parallelogram_wide",
              "label": "t:common.options.parallelogram.label",
              "group": "Wide"
            },
            {
              "value": "ribbon",
              "label": "t:common.options.ribbon.label",
              "group": "Wide"
            },
            {
              "value": "ticket_stub",
              "label": "t:common.options.ticket_stub.label",
              "group": "Wide"
            },
            {
              "value": "wave_ribbon",
              "label": "t:common.options.wave_ribbon.label",
              "group": "Wide"
            },
            {
              "value": "zig_zag_ribbon",
              "label": "t:common.options.zig_zag_ribbon.label",
              "group": "Wide"
            }
          ],
          "default": "star_1"
        },
        {
          "type": "range",
          "id": "width",
          "min": 100,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "t:common.blocks.sticker.settings.width.label",
          "default": 150
        },
        {
          "type": "select",
          "id": "sticker_font_size",
          "label": "t:common.settings.sticker_font_size.label",
          "options": [
            {
              "value": "1rem",
              "label": "t:common.options.extra_small.label"
            },
            {
              "value": "1.25rem",
              "label": "t:common.options.small.label"
            },
            {
              "value": "1.563rem",
              "label": "t:common.options.medium.label"
            },
            {
              "value": "1.953rem",
              "label": "t:common.options.large.label"
            },
            {
              "value": "2.441rem",
              "label": "t:common.options.extra_large.label"
            }
          ],
          "default": "1.563rem",
          "info": "t:common.settings.sticker_font_size.info"
        },
        {
          "type": "header",
          "content": "t:common.settings.header_custom_image"
        },
        {
          "type": "paragraph",
          "content": "t:common.blocks.sticker.settings.paragraph_using_an_image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "half_image_width_on_mobile",
          "label": "t:common.blocks.sticker.settings.half_image_width_on_mobile.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:common.settings.header_position"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.sticker.settings.horizontal_position.label",
          "default": 80
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:common.blocks.sticker.settings.vertical_position.label",
          "default": 80
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "t:common.settings.rotate.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:common.settings.header_layout"
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_mobile",
          "label": "t:common.blocks.sticker.settings.show_sticker_on_mobile.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_desktop",
          "label": "t:common.blocks.sticker.settings.show_sticker_on_desktop.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "select",
          "id": "rotation_animation",
          "label": "t:common.blocks.sticker.settings.rotation_animation.label",
          "options": [
            {
              "value": "none",
              "label": "t:common.blocks.sticker.settings.rotation_animation.options.no_rotation.label"
            },
            {
              "value": "constantly_rotate",
              "label": "t:common.blocks.sticker.settings.rotation_animation.options.constantly_rotate.label"
            },
            {
              "value": "rotate_when_scrolling",
              "label": "t:common.blocks.sticker.settings.rotation_animation.options.rotate_only_when_page_is_scrolling.label"
            }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "t:common.blocks.sticker.settings.enable_parallax.label",
          "default": false,
          "info": "t:common.blocks.sticker.settings.enable_parallax.info"
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:common.settings.parallax_speed.label",
          "default": 3
        },
        {
          "type": "header",
          "content": "t:common.settings.header_color"
        },
        {
          "type": "select",
          "id": "color",
          "label": "t:common.settings.color.label",
          "default": "bg-scheme-accent-1 text-scheme-accent-1-overlay",
          "options": [
            {
              "value": "bg-scheme-text text-scheme-text-overlay",
              "label": "t:common.options.text.label"
            },
            {
              "value": "bg-scheme-accent-1 text-scheme-accent-1-overlay",
              "label": "t:common.options.accent_1.label"
            },
            {
              "value": "bg-scheme-accent-2 text-scheme-accent-2-overlay",
              "label": "t:common.options.accent_2.label"
            },
            {
              "value": "bg-scheme-card text-scheme-text",
              "label": "t:common.options.card.label"
            },
            {
              "value": "bg-scheme-background text-scheme-text",
              "label": "t:common.options.background.label"
            },
            {
              "value": "bg-scheme-gradient text-scheme-text",
              "label": "t:common.options.gradient.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:common.settings.color_scheme.label",
          "default": "same_as_section",
          "options": [
            {
              "value": "same_as_section",
              "label": "t:common.options.same_as_section.label"
            },
            {
              "value": "primary",
              "label": "t:common.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.options.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.options.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.options.quaternary.label"
            }
          ]
        }
      ]
    },
    {
      "name": "t:common.blocks.shape_divider.name",
      "type": "shape_divider",
      "limit": 2,
      "settings": [
        {
          "type": "radio",
          "label": "t:common.blocks.shape_divider.settings.target_section.label",
          "id": "target_section",
          "default": "above",
          "options": [
            {
              "value": "above",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_above.label"
            },
            {
              "value": "below",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_below.label"
            }
          ],
          "info": "t:common.blocks.shape_divider.settings.target_section.info"
        },
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.target_section_color_scheme.label",
          "id": "target_section_color_scheme",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "t:common.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.options.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.options.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.options.quaternary.label"
            }
          ],
          "info": "t:common.blocks.shape_divider.settings.target_section_color_scheme.info"
        },
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.style.label",
          "id": "style",
          "default": "large-waves_1200x84",
          "options": [
            {
              "value": "large-waves_1200x84",
              "label": "t:common.blocks.shape_divider.settings.style.options.large_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "medium-waves_1200x43",
              "label": "t:common.blocks.shape_divider.settings.style.options.medium_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "small-waves_1200x20",
              "label": "t:common.blocks.shape_divider.settings.style.options.small_waves.label",
              "group": "Symmetrical"
            },
            {
              "value": "large-zig-zag_1200x65",
              "label": "t:common.blocks.shape_divider.settings.style.options.large_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "medium-zig-zag_1200x37",
              "label": "t:common.blocks.shape_divider.settings.style.options.medium_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "small-zig-zag_1200x21",
              "label": "t:common.blocks.shape_divider.settings.style.options.small_zig_zag.label",
              "group": "Symmetrical"
            },
            {
              "value": "waves-1-asymmetrical_1440x261",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "waves-2-asymmetrical_1440x330",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_2.label",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-1-asymmetrical_1440x101",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-2-asymmetrical_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_2.label",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-1-asymmetrical_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_1.label",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-2-asymmetrical_1440x325",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_2.label",
              "group": "Asymmetrical"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_horizontal",
          "label": "t:common.blocks.shape_divider.settings.flip_horizontal.label"
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_animation",
          "label": "t:common.blocks.shape_divider.settings.enable_animation.label",
          "info": "t:common.blocks.shape_divider.settings.enable_animation.info"
        },
        {
          "type": "radio",
          "id": "animation_direction",
          "label": "t:common.blocks.shape_divider.settings.animation_direction.label",
          "options": [
            {
              "value": "",
              "label": "t:common.options.right_to_left.label"
            },
            {
              "value": "reverse",
              "label": "t:common.options.left_to_right.label"
            }
          ],
          "default": ""
        }
      ]
    }
  ]
}
{% endschema %}
